    <div class="modal-dialog mip-modal-dialog" mip-dialog tabindex="-1" role="dialog" id="myModalDialog{{vm.modalId}}">
        <div class="modal-content">
            <div class="modal-header">
                <div ng-include="'pages/templates/modal/modal_header_painikkeet.html'"></div>
                <h4 class="modal-title">
                    <span i18n="common.Select_files"></span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="myForm" class="form-horizontal" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                        <p class="mip-multiline alert ng-class:[vm.statusCode]" ng-bind-html="vm.status"></p>
                        </div>
                    </div>
                    <div class="row" ng-repeat="file in vm.files"
                        style="border: 1px solid #ddd; border-radius: 4px; margin: 15px;">
                        <div class="col-md-1">
                            <div class="row">
                                <div class="col-md-1 col-sm-1">
                                    <button class="btn btn-danger fa fa-trash"
                                        style="width: 2.75em;"
                                        ng-disabled="vm.disableButtons"
                                        data-i18n-attr="{title: 'common.Delete'}"
                                        ng-click="vm.remove($index, false)"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-md-12">
                                    <label class="control-label pull-left">{{file.name}},
                                        {{file.size | Filesize}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row alert alert-danger" ng-repeat="errorFile in vm.errFiles"
                        style="border: 1px solid #ddd; margin: 15px;">
                        <div class="col-md-4">{{errorFile.name}}</div>
                        <div class="col-md-8">
                            {{errorMessage(errorFile.$error,errorFile.$errorParam)}}</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="upload" type="file"
                    ngf-select="vm.selectFiles($files, $invalidFiles)" name="file" multiple
                    accept="file/*" ngf-max-size="vm.MAX_FILE_SIZE"
                    ng-disabled="vm.disableButtons" i18n="common.Select_files"></button>
                <button class="btn btn-success" ng-click="vm.upload()" ng-disabled="vm.disableButtons || vm.canStartUpload === false" i18n="ark.Start_uploading"></button>
                <button type="button" class="btn btn-default" ng-click="vm.close()"
                    ng-disabled="vm.disableButtons || vm.uploading || vm.uploadedFiles > 0"
                    i18n="common.Close"></button>
            </div>
        </div>
    </div>
