<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span i18n="ark.Findings"></span>
    </h4>
  </div>
  <!-- Muokkaustila -->
  <div class="panel-body" ng-if="vm.edit">
    <div class="form-group">
      <div class="col-sm-12">
        <textarea rows="5" style="min-height:400px;" class="form-control" name="havainnot"
          ng-model="vm.tutkimusraportti.properties.havainnot">
        </textarea>
      </div>
    </div>
    <mip-ark-kuva-valitsin tutkimus-id="vm.tutkimus.id" valitut-kuvat="vm.tutkimusraportti.properties.kuvat_havainnot"
      kappale="'havainnot'">
    </mip-ark-kuva-valitsin>
  </div>
  <!-- Katselutila -->
  <div class="panel-body" ng-if="!vm.edit">
    <div class="form-group" ng-if="vm.tutkimusraportti.properties.havainnot">
      <div class="col-sm-12">
        <p class="form-control-static mip-multiline">{{vm.tutkimusraportti.properties.havainnot}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group" data-ng-model="vm.tutkimusraportti.properties.kuvat_havainnot">
          <li class="list-group-item col-md-3 mip-image-item"
            data-ng-repeat="image in vm.tutkimusraportti.properties.kuvat_havainnot">
            <div class="col-md-12" ng-click="vm.openImage(image)">
              <img ng-if="image.url_small" class="img-responsive mip-image-thumbnail" ng-src="{{image.url_tiny}}">
              <img ng-if="image.url_small==''" class="img-responsive mip-image-thumbnail"
                ng-src="/resources/images/kuva_placeholder.png" alt="...">
            </div>
            <div class="col-md-12 text-center mip-image-caption">
              <span ng-if="image.luettelointinumero">{{image.luettelointinumero}}</span>
              <span ng-if="image.otsikko">{{image.otsikko}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>