<!-- Kuvaukset - muokkausmoodi -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<span i18n="common.Descriptions"></span>
		</h4>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label
				for="yleiskuvaus"
				class="col-sm-3 control-label">
				<span i18n="common.Outline"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="yleiskuvaus"
					data-i18n-attr="{placeholder: 'common.Outline'}"
					ng-model="porrashuone.properties.yleiskuvaus" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="sisaantulokerros"
				class="col-sm-3 control-label">
				<span i18n="common.Entrance_floor"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="sisaantulokerros"
					data-i18n-attr="{placeholder: 'common.Entrance_floor'}"
					ng-model="porrashuone.properties.sisaantulokerros" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="ovet_ja_ikkunat"
				class="col-sm-3 control-label">
				<span i18n="common.Doors_and_windows"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="ovet_ja_ikkunat"
					data-i18n-attr="{placeholder: 'common.Doors_and_windows'}"
					ng-model="porrashuone.properties.ovet_ja_ikkunat" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="portaat_tasanteet_kaiteet"
				class="col-sm-3 control-label">
				<span i18n="common.Stairs_decks_and_railings"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="portaat_tasanteet_kaiteet"
					data-i18n-attr="{placeholder: 'common.Stairs_decks_and_railings'}"
					ng-model="porrashuone.properties.portaat_tasanteet_kaiteet" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="pintamateriaalit"
				class="col-sm-3 control-label">
				<span i18n="common.Surface_finish"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="pintamateriaalit"
					data-i18n-attr="{placeholder: 'common.Surface_finish'}"
					ng-model="porrashuone.properties.pintamateriaalit" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="muu_kiintea_sisustus"
				class="col-sm-3 control-label">
				<span i18n="common.Other_fixed_decorations"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="muu_kiintea_sisustus"
					data-i18n-attr="{placeholder: 'common.Other_fixed_decorations'}"
					ng-model="porrashuone.properties.muu_kiintea_sisustus" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="talotekniikka"
				class="col-sm-3 control-label">
				<span i18n="common.Building_service_technology"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="talotekniikka"
					data-i18n-attr="{placeholder: 'common.Building_service_technology'}"
					ng-model="porrashuone.properties.talotekniikka" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="tehdyt_korjaukset"
				class="col-sm-3 control-label">
				<span i18n="common.Repairs"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="tehdyt_korjaukset"
					data-i18n-attr="{placeholder: 'common.Repairs'}"
					ng-model="porrashuone.properties.tehdyt_korjaukset" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label
				for="lisatiedot"
				class="col-sm-3 control-label">
				<span i18n="common.Additional_information"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="lisatiedot"
					data-i18n-attr="{placeholder: 'common.Additional_information'}"
					ng-model="porrashuone.properties.lisatiedot" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
	</div>
</div>