<div class="panel">
    <div class="panel-body">
        <div ng-include="'pages/tabs.html'"></div>
        <div ng-include="'pages/subtabs.html'"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-collapsible panel-default table-responsive">
                    <div class="panel-heading" role="tab" data-toggle="collapse"
                        data-target="#tiedotPanel">
                        <h4 class="panel-title">
                            <span i18n="common.Results"></span> : {{raportitTable.total()}} 
                            <span i18n="common.Shown"></span> : {{searchResults}} 
                            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>
                    </div>
                    <div class="panel-body form-horizontal panel-collapse collapse in"
                        id="tiedotPanel" style="margin-bottom: 1em;">
                        <div class="row">
                             <div class="col-md-2 col-sm-2 col-xs-2">
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="refreshTable()"
                                    data-i18n-attr="{title: 'common.Refresh_search_results'}">
                                    <span class="fa fa-refresh"></span>
                                </button>   
                                                                
                                <button type="button"
                                    class="btn btn-success"
                                    id="btn-create" ng-click="voiLuodaRaportteja && addRaportti()" ng-if="voiLuodaRaportteja"
                                    data-i18n-attr="{title: 'common.Create_report'}">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>                                                    
                        </div>
                    </div> 
                    <table ng-table="raportitTable" class="table table-striped table-bordered"
                        template-pagination="pages/templates/table-pagination.html"
                        show-filter="false">
                        <tr ng-repeat="raporttipyynto in $data">
                            <td data-title="getColumnName('Name')">{{raporttipyynto.parameters | mipReportDisplayName}}</td>
                            <td data-title="getColumnName('Status')">{{raporttipyynto.status.id | mipReportStatusTranslator }}</td>
                            <td data-title="getColumnName('Created')">{{raporttipyynto.created | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                            <td data-title="getColumnName('Modified')">{{raporttipyynto.modified | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                            <td data-title="getColumnName('Actions')">
                                <button type="button" class="btn btn-sm btn-success"
                                        data-i18n-attr="{title: 'common.Download'}" ng-disabled="raporttipyynto.status.id != 3" ng-click="raporttipyynto.status.id == 3 && downloadReport(raporttipyynto)">
                                        <span class="fa fa-download" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-default"  data-auto-close="true" style="margin-right:1em; width:34.08px;"
                                        data-placement="left" bs-popover data-template-url="raportit/partials/popover-raporttipyynto_info.html" 
                                        data-i18n-attr="{title: 'common.Details'}">
                                        <span class="fa fa-info" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" 
                                        data-i18n-attr="{title: 'common.Delete'}" ng-click="deleteReport(raporttipyynto)">
                                        <span class="fa fa-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>                   
                </div>
            </div>
        </div>
    </div>
</div>