
<div class="panel panel-default panel-collapsible">
	<div class="panel-heading" data-toggle="collapse" data-target="#kultHistPanel{{modalId}}">
		<h4 class="panel-title">
		    <span data-i18n="common.Culturohistorical_values"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
    <div id="kultHistPanel{{modalId}}" class="panel-body panel-collapse collapse in">

		<div class="form-group"
			data-ng-if="kiinteisto.properties.kulttuurihistoriallisetarvot.length > 0">
			<label class="col-sm-3 control-label"> <span
				data-i18n="common.Culturohistorical_values"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static"
					ng-repeat="kkh in kiinteisto.properties.kulttuurihistoriallisetarvot">{{kkh | namei18n}}</p>
				<div ng-repeat="rakennus in rakennukset">
					<p
						ng-repeat="arvo in rakennus.properties.kulttuurihistoriallisetarvot">{{arvo | namei18n}}</p>
				</div>
			</div>
		</div>
		<div class="form-group"
			data-ng-if="kiinteisto.properties.arvotustyyppi.nimi_fi.length > 0">
			<label class="col-sm-3 control-label"> <span
				data-i18n="common.Valuation"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">{{kiinteisto.properties.arvotustyyppi | namei18n}}</p>
			</div>
		</div>
		<div class="form-group"
			ng-if="kiinteisto.properties.perustelut.length > 0">
			<label class="col-sm-3 control-label"> <span
				i18n="common.Reasonings"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static mip-multiline">{{kiinteisto.properties.perustelut}}</p>
			</div>
		</div>	
        <div class="form-group" ng-if="kiinteisto.properties.tarkistettu">
            <div class="col-sm-9 col-sm-offset-3">
                <p class="form-control-static">
                    {{kiinteisto.properties.tarkistettu | pvm:'dd.MM.yyyy'}}</p>
            </div>
        </div>	
	</div>
</div>

