<div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#tiedotPanel{{vm.modalId}}">
        <h4 class="panel-title">
            <span i18n="common.Details"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="tiedotPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
    <!-- Muokkaus -->
	    <div class="panel-body" ng-if="vm.edit">
	    	<div class="row">
	    		<div class="col-sm-4">
	    			<mip-korityyppi tyyppi="vm.kori.properties" mip="vm.mip" ng-if="vm.uusiKori"></mip-korityyppi>
					<div class="form-group" ng-if="!vm.uusiKori">
					    <label class="col-sm-4 control-label">
					        <span i18n="common.Cart_type"></span>
					    </label>
					    <div class="col-sm-8">
					        <p class="form-control-static">{{vm.kori.properties.korityyppi | namei18n}}</p>
					    </div>
					</div>
			        <div class="form-group" ng-class="{ 'has-error': form.nimi.$invalid && form.nimi.$touched}">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Name"></span> *
			            </label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control"
			                	name="nimi"
			                    ng-model="vm.kori.properties.nimi"
			                    ng-required="true"
			                    focus-me="focusInput">
			                <span class="help-block" ng-show="form.nimi.$invalid && form.nimi.$touched">
			                    <span data-i18n="common.mandatory_value" data-field="{{ 'common.Name' | i18n }}"></span>
			                </span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Updated"></span>
			            </label>
			            <div class="col-sm-8">
			            	<p class="form-control-static">
								{{vm.kori.properties.muokattu | pvm:'dd.MM.yyyy HH:mm:ss'}}
							</p>
						</div>
			        </div>
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.User"></span>
			            </label>
			            <div class="col-sm-8">
			                <p class="form-control-static">{{vm.kori.properties.luoja.etunimi}} {{vm.kori.properties.luoja.sukunimi}} {{vm.kori.properties.luoja.sahkoposti}}</p>
			            </div>
			        </div>
		        </div>
		        <div class="col-sm-8">
			        <div class="form-group" ng-class="{ 'has-error': form.kuvaus.$invalid && form.kuvaus.$touched}">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Description"></span> *
			            </label>
			            <div class="col-sm-8">
			                <textarea class="form-control" style="min-height: 72px"
			                	name="kuvaus"
			                    ng-model="vm.kori.properties.kuvaus"
			                    rows="3"
			                    ng-required="true">
			                </textarea>
			                <span class="help-block" ng-show="form.kuvaus.$invalid && form.kuvaus.$touched">
			                    <span data-i18n="common.mandatory_value" data-field="{{ 'common.Description' | i18n }}"></span>
			                </span>
			            </div>
			        </div>
					<div class="form-group" ng-show="vm.kori.properties.mip_alue === 'ARK'">
						<label class="col-sm-4 control-label">
			            	<span i18n="common.Share"></span>
			            </label>
						<div class="col-sm-8 form-group">
							<ui-select class="ng-animate-disabled" ng-model="vm.valittu_kayttaja" name="kayttaja" theme="bootstrap" on-select="vm.addUser($select.selected)">
								<ui-select-match data-i18n-attr="{placeholder: 'common.Users'}">
									{{$select.selected.properties.etunimi}}
									{{$select.selected.properties.sukunimi}}
								</ui-select-match>
								<ui-select-choices repeat="k.properties.id as k in vm.kayttajat | filter: $select.search track by k.properties.id" ng-disabled="disabled">
									<span ng-bind-html="k.properties.etunimi | highlight: $select.search"></span>
									<span ng-bind-html="k.properties.sukunimi | highlight: $select.search"></span>
									<span ng-bind-html="k.properties.sahkoposti | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
						</div>
						<label class="col-sm-4 control-label">
			            	<span i18n="common.Shared_to_users"></span>
			            </label>
						<div class="col-sm-8 form-group">
							<ui-select multiple ng-model="vm.jaetut_kayttajat" onkeypress="return false;" theme="bootstrap" name="kayttajat">
								<ui-select-match>
									{{$item.etunimi}}
									{{$item.sukunimi}}
								</ui-select-match>
								<ui-select-choices repeat="k as k in vm.jaetut_kayttajat track by k.id">
								  <div>
									<span ng-bind-html="k.etunimi "></span>
									<span ng-bind-html="k.sukunimi "></span>
								  </div>
								</ui-select-choices>
							</ui-select>
						</div>
						<label class="col-sm-4 control-label">
			            	<span i18n="common.Museums_cart"></span>
			            </label>
						<div class="col-sm-8 form-group">
							<select ng-model="vm.kori.properties.museon_kori"
								ng-options="option.value as option.label for option in vm.noYes"
								name="museon_kori" class="form-control">
							</select>
						</div>
					</div>
				</div>
	        </div>
	    </div>
	    <!-- Katselu -->
	    <div class="panel-body" ng-if="!vm.edit">
	    	<div class="row">
		    	<div class="col-sm-4">
					<div class="form-group">
					    <label class="col-sm-4 control-label">
					        <span i18n="common.Cart_type"></span>
					    </label>
					    <div class="col-sm-8">
					        <p class="form-control-static">{{vm.kori.properties.korityyppi | namei18n}}</p>
					    </div>
					</div>
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Name"></span>
			            </label>
			            <div class="col-sm-8">
			                <p class="form-control-static">{{vm.kori.properties.nimi}}</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Updated"></span>
			            </label>
			            <div class="col-sm-8">
			            	<p class="form-control-static">
								{{vm.kori.properties.muokattu | pvm:'dd.MM.yyyy HH:mm:ss'}}
							</p>
						</div>
			        </div>
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.User"></span>
			            </label>
			            <div class="col-sm-8">
			                <p class="form-control-static">{{vm.kori.properties.luoja.etunimi}} {{vm.kori.properties.luoja.sukunimi}} {{vm.kori.properties.luoja.sahkoposti}}</p>
			            </div>
			        </div>
		        </div>
		    	<div class="col-sm-8">
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Description"></span>
			            </label>
			            <div class="col-sm-8">
			                <p class="form-control-static">{{vm.kori.properties.kuvaus}}</p>
			            </div>
			        </div>
		        </div>
				<div class="col-sm-8" ng-show="vm.kori.properties.mip_alue === 'ARK'">
			        <div class="form-group">
			            <label class="col-sm-4 control-label">
			            	<span i18n="common.Shared_to_users"></span>
			            </label>

			            <div class="col-sm-8">
							<span class="form-control-static" ng-repeat="k in vm.jaetut_kayttajat">
								{{k.etunimi}}
								{{k.sukunimi}}<font ng-show="!$last">,</font>
							</span>
			            </div>
			        </div>
					<div class="form-group">
						<label for="siirtyy_finnaan" class="col-sm-4 control-label">
							<span i18n="common.Museums_cart"></span>
						</label>
						<div class="col-sm-8">
							<p class="form-control-static"
							data-placement="auto">
							{{vm.kori.properties.museon_kori | trueFalseToText}}
						</p>
						</div>
					</div>
		        </div>
				<div class="col-sm-8">
			        <div class="form-group">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
						<button ng-click="vm.muutaLoydonTila()" class="btn btn-default"
								i18n="ark.Read_location" data-ng-if="vm.tilamuutosPermission === true
								&& !vm.edit && vm.kori.properties.kori_id_lista.length > 0
								&& vm.korityyppi.taulu === 'ark_loyto'
								&& vm.tilanmuutos === false">
							</button>
						</div>
					</div>
				</div>
	        </div>
	    </div>
    </div>
</div>