'use strict';

module.exports = function (grunt) {
  // load all grunt tasks
  require('matchdep').filterDev('grunt-*').forEach(grunt.loadNpmTasks);

  /*
   *  CONFIGURABLE PATHS AND VARIABLES
   *  NOTE: Also some values are defined directly in the grunt-replace tasks.
   */
  var yeomanConfig = {
    app: 'app',
    dist: 'dist',
    prod_url: '<url_for_prod_mip_backend>',
    qa_url: '<url_for_qa_mip_backend>',
    kehitys_url: '<url_for_kehitys_mip_backend>',
    local_url: 'http://localhost:8000/api/'
  };

  try {
    yeomanConfig.app = require('./bower.json').appPath || yeomanConfig.app;
  } catch (e) {}

  grunt.initConfig({
    yeoman: yeomanConfig,
    clean: {
      dist: {
        files: [{
          dot: true,
          src: [
            '.tmp',
            '<%= yeoman.dist %>/*',
            '!<%= yeoman.dist %>/.git*'
          ]
        }]
      },
      removetemplate: {
          files: [{
          dot: true,
          src: ['<%= yeoman.dist %>/app.templates.js']
        }]
      },
      removehtml: {
          files: [{
              dot: true,
              src: '<%= yeoman.dist %>/pages'
          }]
      },
      server: '.tmp'
    },
    jshint: {
      options: {
        jshintrc: '.jshintrc'
      },
      all: [
        'Gruntfile.js',
        '<%= yeoman.app %>//{,*/}*.js'
      ]
    },
    karma: {
      unit: {
        configFile: 'karma.conf.js',
        singleRun: true
      }
    },
    usemin: {
      html: ['<%= yeoman.dist %>/{,*/}*.html'],
      css: ['<%= yeoman.dist %>/styles/{,*/}*.css'],
      options: {
        dirs: ['<%= yeoman.dist %>']
      }
    },
    htmlmin: {
      dist: {
        options: {
          /*removeCommentsFromCDATA: true,
          // https://github.com/yeoman/grunt-usemin/issues/44
          //collapseWhitespace: true,
          collapseBooleanAttributes: true,
          removeAttributeQuotes: true,
          removeRedundantAttributes: true,
          useShortDoctype: true,
          removeEmptyAttributes: true,
          removeOptionalTags: true*/
        },
        files: [{
          expand: true,
          cwd: '<%= yeoman.app %>',
          src: ['*.html'],
          dest: '<%= yeoman.dist %>'
        }]
      }
    },
    ngmin: {
      dist: {
        files: [{
          expand: true,
          cwd: '<%= yeoman.dist %>',
          src: '*.js',
          dest: '<%= yeoman.dist %>'
        }]
      }
    },
    useminPrepare: {
      html: '<%= yeoman.app %>app/index.html',
      options: {
        dest: '<%= yeoman.dist %>'
      }
    },
    rev: {
      dist: {
        files: {
          src: [
            '<%= yeoman.dist %>/**/*.js',
            '!<%= yeoman.dist %>/lib/**',
            '!<%= yeoman.dist %>/languages/*',
          ]
        }
      }
    },
    copy: {
      dist: {
        files: [{
          expand: true,
          dot: true,
          cwd: '<%= yeoman.app %>',
          dest: '<%= yeoman.dist %>',
          src: [
            '**/*',
          ]
        }]
      },
      lib: {
        files: [{
          expand: true,
          dot: true,
          cwd: '<%= yeoman.app %>',
          dest: '<%= yeoman.dist %>',
          src: [
            //'**/*.{js,css,png,jpg,html}'
            //'*.{ico,txt}',
            //'.htaccess',
            'lib/bower_components/**/*',
            //'resources/images/{,*/}*.{gif,webp}'
          ]
        }]
      }
    },
    replace: {
      prod: {
        options: {
          patterns: [
            {
              match: '<%= yeoman.local_url %>',
              replacement: '<%= yeoman.prod_url %>'
            },
            {
              match: /'ORGANISATION'[:]\s(\'.*\')/g,
              replacement: function () {
                return "'ORGANISATION': 'Example Organisation'";
              }
            },
            {
              match: /'PROVINCE_NAME'[:]\s(\'.*\')/g,
              replacement: function () {
                return "'PROVINCE_NAME': 'Example Province'";
              }
            },
            {
              match: /'KYPPI_ADMIN_ORGANISATION_CODE'\s*[:]\s*(\d*)/g,
              replacement: function () {
                return "'KYPPI_ADMIN_ORGANISATION_CODE': 17";
              }
            },
            {
              match: /'DEFAULT_COORDINATES'\s*[:]\s*\[.*\]/g,
              replacement: function () {
                return "'DEFAULT_COORDINATES': [60.46, 22.68]";
              }
            },
            {
              match: /'DEFAULT_MAP_CENTER'\s*[:]\s*\[.*\]/g,
              replacement: function () {
                return "'DEFAULT_MAP_CENTER': [6709459.248768231831491, 237488.841283306537662]";
              }
            }
          ],
          usePrefix : false
        },
        files: [{
              expand: true,
              flatten: true,
              src: ['<%= yeoman.dist %>/app.js'],
              dest: '<%= yeoman.dist %>'
            }
        ]
      },
      qa: {
        options: {
          patterns: [
            {
              match: '<%= yeoman.local_url %>',
              replacement: '<%= yeoman.qa_url %>'
            },
            {
              match: /'ORGANISATION'[:]\s(\'.*\')/g,
              replacement: function () {
                return "'ORGANISATION': 'Example Organisation'";
              }
            },
            {
              match: /'PROVINCE_NAME'[:]\s(\'.*\')/g,
              replacement: function () {
                return "'PROVINCE_NAME': 'Example Province'";
              }
            },
            {
              match: /'KYPPI_ADMIN_ORGANISATION_CODE'\s*[:]\s*(\d*)/g,
              replacement: function () {
                return "'KYPPI_ADMIN_ORGANISATION_CODE': 17";
              }
            },
            {
              match: /'DEFAULT_COORDINATES'\s*[:]\s*\[.*\]/g,
              replacement: function () {
                return "'DEFAULT_COORDINATES': [60.46, 22.68]";
              }
            },
            {
              match: /'DEFAULT_MAP_CENTER'\s*[:]\s*\[.*\]/g,
              replacement: function () {
                return "'DEFAULT_MAP_CENTER': [6709459.248768231831491, 237488.841283306537662]";
              }
            }
          ],
          usePrefix : false
        },
        files: [
          {expand: true, flatten: true, src: ['<%= yeoman.dist %>/app.js'], dest: '<%= yeoman.dist %>'}
        ]
      },
      kehitys: {
        options: {
          patterns: [
            {
              match: '<%= yeoman.local_url %>',
              replacement: '<%= yeoman.kehitys_url %>'
            },
            {
              match: /'ORGANISATION'[:]\s(\'.*\')/g,
              replacement: function () {
                return "'ORGANISATION': 'Example Organisation'";
              }
            },
            {
              match: /'PROVINCE_NAME'[:]\s(\'.*\')/g,
              replacement: function () {
                return "'PROVINCE_NAME': 'Example Province'";
              }
            },
            {
              match: /'KYPPI_ADMIN_ORGANISATION_CODE'\s*[:]\s*(\d*)/g,
              replacement: function () {
                return "'KYPPI_ADMIN_ORGANISATION_CODE': 17";
              }
            },
            {
              match: /'DEFAULT_COORDINATES'\s*[:]\s*\[.*\]/g,
              replacement: function () {
                return "'DEFAULT_COORDINATES': [60.46, 22.68]";
              }
            },
            {
              match: /'DEFAULT_MAP_CENTER'\s*[:]\s*\[.*\]/g,
              replacement: function () {
                return "'DEFAULT_MAP_CENTER': [6709459.248768231831491, 237488.841283306537662]";
              }
            }
          ],
          usePrefix : false
        },
        files: [
          {expand: true, flatten: true, src: ['<%= yeoman.dist %>/app.js'], dest: '<%= yeoman.dist %>'}
        ]
      },
      translationsFi: {
        options: {
          patterns: [
            {
              match: /"Guest_user_info_content"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content\": \"Finnish: Guest info view (the view that opens for viewer after login) common text.\"";
              }
            }, {
              match: /"Guest_user_info_content1"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content1\": \"Finnish: Guest info view (the view that opens for viewer after login) building inventory text.\"";
              }
            }, {
              match: /"Guest_user_info_content2"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content2\": \"Finnish: Guest info view (the view that opens for viewer after login) archaeologic inventory text.\"";
              }
            }, {
              match: /"Guest_user_info_content3"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content3\": \"Finnish: Guest info view (the view that opens for viewer after login) archaeologic collections text.\"";
              }
            }
          ],
          usePrefix: false
        },
        files: [
          { expand: true, flatten: true, src: ['<%= yeoman.app %>/languages/fi-FI/common.lang.json'], dest: '<%= yeoman.dist %>/languages/fi-FI/' }
        ]
      },
      translationsSv: {
        options: {
          patterns: [
            {
              match: /"Guest_user_info_content"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content\": \"Swedish: Guest info view (the view that opens for viewer after login) common text.\"";
              }
            }, {
              match: /"Guest_user_info_content1"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content1\": \"Swedish: Guest info view (the view that opens for viewer after login) building inventory text.\"";
              }
            }, {
              match: /"Guest_user_info_content2"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content2\": \"Swedish: Guest info view (the view that opens for viewer after login) archaeologic inventory text.\"";
              }
            }, {
              match: /"Guest_user_info_content3"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content3\": \"Swedish: Guest info view (the view that opens for viewer after login) archaeologic collections text.\"";
              }
            }
          ],
          usePrefix: false
        },
        files: [
          { expand: true, flatten: true, src: ['<%= yeoman.app %>/languages/sv-FI/common.lang.json'], dest: '<%= yeoman.dist %>/languages/sv-FI/' }
        ]
      },
      translationsEn: {
        options: {
          patterns: [
            {
              match: /"Guest_user_info_content"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content\": \"English: Guest info view (the view that opens for viewer after login) common text.\"";
              }
            }, {
              match: /"Guest_user_info_content1"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content1\": \"English: Guest info view (the view that opens for viewer after login) building inventory text.\"";
              }
            }, {
              match: /"Guest_user_info_content2"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content2\": \"English: Guest info view (the view that opens for viewer after login) archaeologic inventory text.\"";
              }
            }, {
              match: /"Guest_user_info_content3"[:]\s(\".*\")/g,
              replacement: function () {
                return "\"Guest_user_info_content3\": \"English: Guest info view (the view that opens for viewer after login) archaeologic collections text.\"";
              }
            }
          ],
          usePrefix: false
        },
        files: [
          { expand: true, flatten: true, src: ['<%= yeoman.app %>/languages/en-US/common.lang.json'], dest: '<%= yeoman.dist %>/languages/en-US/' }
        ]
      }
    },
    ngtemplates: {
        mip: {
            src: '<%= yeoman.app %>/**/**/*.{html,tpl.html}',
            dest: '<%= yeoman.dist %>/app.templates.js',
            options: {
                url: function(url) {
                    return url.replace('app/', '');
                }
            }
        }
    },
    concat: {
        dist: {
            src:  [ '<%= yeoman.dist %>/app.js', 'dist/app.templates.js'],
            dest: '<%= yeoman.dist %>/app.js'
        }
    },
    uglify: {
    	js: { //target
    		files: [{
    			expand: true,
    			cwd: './dist/',
    			src: ['./**/*.js', './*.js', '!./**/lib/**'],
    			dest: './dist/',
    			ext: '.js'
    		}]
        }
    }
  });

  /*
   * PRODUCTION BUILD
   * replace method expects us to create the production build from the dev version (API_URL will not be replaced if it doesn't match the dev_url)
   */
  grunt.registerTask('build', [
    'clean:dist', //clean the dist folder
    //'jshint',  //check code quality
    'useminPrepare', //required by rev
    'copy:dist', //copy app to dist folder
    'ngtemplates', //create angular templates of the html files
    'concat', //concatenate the angular templates to the app.js
    'clean:removetemplate', //remove the created template file (it's already concatenated)
    'clean:removehtml', //remove the html files that were turned into angular templates
    'replace:prod', // replace the API_URL and other variables in app.js with the production url
    'replace:translationsFi', // replace the info texts shown to katselija after login
    'replace:translationsSv', // replace the info texts shown to katselija after login
    'replace:translationsEn', // replace the info texts shown to katselija after login
    //'uglify:js', //uglify the files, each separately
    'rev', //modify the .js file names
    'usemin' //change the index.html to use the revved .js files
  ]);

  /*
   * QA BUILD
   */
    grunt.registerTask('qa_build', [
    'clean:dist',
    //'jshint',
    'useminPrepare',
    'copy:dist',
    'ngtemplates',
    'concat',
    'clean:removetemplate',
    'clean:removehtml',
    'replace:qa',
    'replace:translationsFi',
    'replace:translationsSv',
    'replace:translationsEn',
    //'uglify:js',
    'rev',
    'usemin'
  ]);

  /*
     * KEHITYS BUILD
     */
    grunt.registerTask('kehitys_build', [
      'clean:dist',
      //'jshint',
      'useminPrepare',
      'copy:dist',
      'ngtemplates',
      'concat',
      'clean:removetemplate',
      'clean:removehtml',
      'replace:kehitys',
      'replace:translationsFi',
      'replace:translationsSv',
      'replace:translationsEn',
      //'uglify:js',
      'rev',
      'usemin'
    ]);

  grunt.registerTask('default', ['kehitys_build']);
};
