<!-- Arvoalueet - katselumoodi -->
<div class="panel panel-default panel-collapsible">
	<div
		class="panel-heading"
		data-toggle="collapse"
		data-target="#kiinteistotPanel{{modalId}}">
		<h4 class="panel-title">
			<span data-i18n="common.Estates"></span> <span
				class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
	<div
		id="kiinteistotPanel{{modalId}}"
		class="panel-body panel-collapse collapse in">
		<div class="row">
			<ul class="list-group">
				<li
					class="list-group-item col-xs-6"
					ng-repeat="kiinteisto in kiinteistotForMap | orderBy: 'properties.kiinteistotunnus'"
					style="cursor: pointer; border: 0"
					ng-click="selectKiinteisto(kiinteisto);"><span style="font-weight: bold">{{kiinteisto.properties.kiinteistotunnus}}</span> - <span
					ng-if="kiinteisto.properties.nimi">{{kiinteisto.properties.nimi}}</span>
			</ul>
		</div>
	</div>
</div>
