<!-- Perustiedot -->
<div class="panel panel-default panel-collapsible">
    <div
        class="panel-heading"
        data-toggle="collapse"
        data-target="#arvoaluePerusTiedotPanel{{modalId}}">
        <h4 class="panel-title">
            <span data-i18n="common.Details"></span> <span
                class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div
        id="arvoaluePerusTiedotPanel{{modalId}}"
        class="panel-body panel-collapse collapse in">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span i18n="common.Name"></span>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">{{arvoalue.properties.nimi}}</p>
            </div>
        </div>
                
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span data-i18n="common.Area"></span>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    <a class="link"
                       data-ng-click="showAlueModal(arvoalue.properties._alue);">{{arvoalue.properties._alue.nimi}}</a>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span data-i18n="common.County"></span> / <span data-i18n="common.Village"></span>
            </label>
            <div class="col-sm-9">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="kyla in arvoalue.properties.kylat">
            
                        <h5 class="list-group-item-heading">
                            <a class="link"
                                ng-click="showKuntaModal(kyla.kunta);">{{kyla.kunta | kuntaKylaNamei18n}} ({{kyla.kunta.kuntanumero}})</a>
                        </h5>
                        <p>
                            <a class="link"
                                ng-click="showKylaModal(kyla);">{{kyla | kuntaKylaNamei18n}} ({{kyla.kylanumero}})</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        
		<div class="form-group"
			ng-if="arvoalue.properties.paikkakunta.length > 0">
			<label class="col-sm-3 control-label"> <span
				i18n="common.District"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">{{arvoalue.properties.paikkakunta}}</p>
			</div>
		</div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span i18n="common.Inventory_number"></span>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">{{arvoalue.properties.inventointinumero}}</p>
            </div>
        </div>
                
        <div class="form-group" ng-if="arvoalue.properties.aluetyyppi">
            <label class="col-sm-3 control-label">
                <span data-i18n="common.Area_type"></span>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {{arvoalue.properties.aluetyyppi | namei18n}}</p>
            </div>
        </div>
		<div class="form-group" ng-if="arvoalue.properties.arkeologinen_kohde">
			<label class="col-sm-3 control-label"> <span
				i18n="common.Archeological_site"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					<span i18n="common.Yes" ng-show="arvoalue.properties.arkeologinen_kohde"></span>
					<span i18n="common.No" ng-show="!arvoalue.properties.arkeologinen_kohde"></span>
				</p>
			</div>
		</div>              
    </div>
</div>