<!-- Muut tiedot - muokkausmoodi -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<span i18n="common.Summary"></span>
		</h4>
	</div>
	<div class="panel-body">
        <div class="form-group">
            <label for="yhteenveto" class="col-sm-3 control-label"> <span
                i18n="common.Summary"></span>
            </label>
            <div class="col-sm-9">
                <textarea rows="3" class="form-control" name="yhteenveto"
                    data-i18n-attr="{placeholder: 'common.Summary'}"
                    ng-model="arvoalue.properties.yhteenveto"
                    ng-required="false" ng-readonly="false" spellcheck="false" autocomplete="off"></textarea>
            </div>
        </div>	
	</div>
</div>
