<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="login-holder">
                <div class="panel panel-default panel-login">
                    <!-- <div class="panel-heading">
						<img src="resources/images/mip_logo.jpg"  />
					</div>-->
                    <div class="panel-body">
                        <br>
                        <img ng-if="lang == 'fi'" class="img-responsive"
                            ng-src="resources/images/logo_fi_trans.png">
                        <img ng-if="lang == 'se'" class="img-responsive"
                            ng-src="resources/images/logo_se_trans.png">
                        <br>
                        <h2 class="text-center login-header">
                            <span data-i18n="common.Museum_information_portal"></span>
                        </h2>
                        <br />
                        <form class="form-signin form-horizontal" data-ng-submit="loginSubmit()">
                            <div class="form-group form-group-sm">
                                <label for="username">
                                    <span data-i18n="common.Username"></span>
                                </label>
                                <input id="email" class="form-control" type="text"
                                    data-ng-model="loginData.kayttajatunnus" spellcheck="false" autocomplete="off" />
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="password">
                                    <span data-i18n="common.Password"></span>
                                </label>
                                <input id="password" class="form-control" type="password"
                                    data-ng-model="loginData.salasana" spellcheck="false" autocomplete="off" />
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" name="sbmt" class="btn btn-primary">
                                            <span data-i18n="common.Login"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a data-ng-href="./#!/salasananpalautus" class="pull-right"><span i18n="common.Forgot_password"></span>?</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <span style="position:fixed;bottom:0px;right:0px;color:grey;">{{version}}</span>
            </div>
        </div>
    </div>
</div>