<div class="panel">
    <div class="panel-body">
        <div ng-include="'pages/tabs.html'"></div>
        <div ng-include="'pages/subtabs.html'"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-collapsible table-responsive">
                    <div class="panel-heading" role="tab" data-toggle="collapse"
                        data-target="#tiedotPanel">
                        <h4 class="panel-title">
                            <span i18n="common.Results"></span> : {{kunnatTable.total()}} <span
                                i18n="common.Shown"></span> : {{searchResults}} <span
                                class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>
                    </div>
                    <div class="panel-body panel-collapse form-horizontal collapse in"
                        id="tiedotPanel" style="margin-bottom: 1em;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">                                
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="clearSearchFilter()" 
                                    data-i18n-attr="{title: 'common.Clear_filter'}">
                                    <span class="fa fa-ban"></span>
                                </button>
                                
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="refreshTable()"
                                    data-i18n-attr="{title: 'common.Refresh_search_results'}">
                                    <span class="fa fa-refresh"></span>
                                </button>   
                            
                                <button type="button"
                                    class="btn btn-success"
                                    data-ng-show="showCreateNewButton"
                                    id="btn-create" ng-click="selectKunta()" 
                                    data-i18n-attr="{title: 'common.Add_county'}">
                                    <span class="fa fa-plus"></span>
                                </button>                                
                            </div>    
                            <div  class="col-md-10 col-sm-10 col-xs-10">
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <mip-kuntavalitsin props="kunnatTable.filter().properties"></mip-kuntavalitsin>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">         
                                        <ui-select 
                                            ng-model="kunnatTable.filter().properties.luoja"
                                            name="luoja"
                                            spellcheck="false">
                                            <ui-select-match 
                                                data-i18n-attr="{placeholder: 'common.Created_by'}"
                                                allow-clear="true">{{$select.selected.etunimi}} {{$select.selected.sukunimi}}</ui-select-match>
                                            <ui-select-choices     
                                                repeat="kayttaja.id as kayttaja in kayttajat track by $index "
                                                refresh="getKayttajat($select.search)"
                                                refresh-delay="250">
                                                <div>                                                                
                                                    <span
                                                        ng-bind-html="kayttaja.etunimi | highlight: $select.search">
                                                    </span>
                                                    <span
                                                        ng-bind-html="kayttaja.sukunimi | highlight: $select.search">
                                                    </span>
                                                </div>
                                            </ui-select-choices> 
                                        </ui-select>
                                    </div>
                                </div>       
                            </div>                        
                        </div>
                    </div>
                    <table ng-table="kunnatTable" class="table table-striped table-bordered"
                        template-pagination="pages/templates/table-pagination.html"
                        show-filter="false">
                        <tr ng-repeat="kunta in $data" style="cursor: pointer"
                            ng-click="selectKunta(kunta)">
                            <td data-title="getColumnName('County')" sortable="'properties.nimi'"
                                filter="{ 'properties.kunta': 'text' }">{{kunta.properties.nimi}}</td>
                            <td data-title="getColumnName('County_number')"
                                sortable="'properties.kuntanumero'"
                                filter="{ 'properties.kuntanumero': 'text' }">{{kunta.properties.kuntanumero}}</td>
                             <td data-title="getColumnName('Added_by')"
                                filter="{ 'properties.luoja': 'number' }">
                                <div ng-if="kunta.properties.luoja.etunimi !== 'System' && kunta.properties.luoja.sukunimi !== 'System'">                                                                
                                    {{kunta.properties.luoja.etunimi}} {{kunta.properties.luoja.sukunimi}}     
                                </div>                                                        
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>