<!-- Tiedot - katselumoodi -->
<div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#TiedotPanel1">
        <h4 class="panel-title">
            <span data-i18n="common.Details"></span> <span
                class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="TiedotPanel1" class="panel-body panel-collapse collapse in">
        <div class="col-md-6">
            <div class="form-group" ng-if="image.properties.luettelointinumero.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Listing_number"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.luettelointinumero}}</p>
                </div>
            </div><div class="form-group" ng-if="image.properties.otsikko.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Caption"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.otsikko}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.kuvaaja.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Taken_by"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.kuvaaja}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.organisaatio.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Organization"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.organisaatio}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.kuvaussuunta.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Shot_from"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.kuvaussuunta}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.konservointivaihe_id">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Conservation_phase"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.konservointivaihe | namei18n}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.tunnistekuva">
	            <label class="col-sm-3 control-label"> <span
	                i18n="ark.Identification_image"></span>
	            </label>
	            <div class="col-sm-9">
	                <p class="form-control-static">
	                    <span i18n="common.Yes" ng-show="image.properties.tunnistekuva"></span>
	                    <span i18n="common.No" ng-show="!image.properties.tunnistekuva"></span>
	                </p>
	            </div>
	        </div>
            <div class="form-group" ng-if="image.properties.kuvauspvm.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Shoot_date_and_time"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.kuvauspvm | pvm_kuvaus:'dd.MM.yyyy HH:mm:ss'}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.asiasanat.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Glossaries"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline"><span ng-repeat="sana in image.properties.asiasanat">{{sana}}<span ng-show="!$last">, </span></span></p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.yksikot.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Units"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline"><span ng-repeat="yksikko in image.properties.yksikot"><a class="link" ng-click="avaaYksikko(yksikko)">{{yksikko.yksikkotunnus}}</a><span ng-show="!$last">, </span></span></p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.loydot.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Discoveries"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline"><span ng-repeat="loyto in image.properties.loydot"><a class="link" ng-click="avaaLoyto(loyto)">{{loyto.luettelointinumero}}</a><span ng-show="!$last">, </span></span></p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.naytteet.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Samples"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline"><span ng-repeat="nayte in image.properties.naytteet"><a class="link" ng-click="avaaNayte(nayte)">{{nayte.luettelointinumero}}</a><span ng-show="!$last">, </span></span></p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.kohteet.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="ark.Targets"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline"><span ng-repeat="kohde in image.properties.kohteet"><a class="link" ng-click="avaaKohde(kohde)">{{kohde.nimi}}</a><span ng-show="!$last">, </span></span></p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.lisatiedot.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Additional_information"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.lisatiedot}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-if="image.properties.kuvaus.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Description"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.kuvaus}}</p>
                </div>
            </div>
            <div class="form-group" ng-if="image.properties.tekijanoikeuslauseke.length > 0">
                <label class="col-sm-3 control-label">
                    <span i18n="common.Copyright_clause"></span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static mip-multiline">{{image.properties.tekijanoikeuslauseke}}</p>
                </div>
            </div>
            <div class="form-group" ng-show="tags">
                <label class="col-sm-3 control-label">
                    <span>EXIF</span>
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static" ng-repeat="(key, value) in tags track by $index">
                        <span>{{key}}</span>: <span>{{value}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
