<!-- Tiedot - muokkausmoodi -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span i18n="common.Details"></span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12" ng-if="luetteloitu === true">
                        <div class="form-group"
                            ng-class="{ 'has-error': imageForm.luettelointinumero.$invalid && imageForm.luettelointinumero.$touched }">
                            <label class="col-md-12 control-label">
                                <span i18n="ark.Listing_number" class="pull-left"></span><span class="pull-left">*</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control"
                                    name="luettelointinumero"
                                    ng-model="image.properties.luettelointinumero"
                                    ng-required="luetteloitu === true"
                                    ng-change="checkUniqueLuettelointinumero(image.properties.luettelointinumero)"
                                    ng-disabled="file.status == 'loading'"
                                    data-i18n-attr="{placeholder: 'ark.Listing_number'}">
                                <span class="help-block"
                                    ng-show="imageForm.luettelointinumero.$invalid">
                                    <span data-i18n="common.mandatory_value"
                                        ng-show="!image.properties.luettelointinumero"
                                        data-field="{{ 'ark.Listing_number' | i18n }}"> </span>
                                    <span
					                    ng-show="!uniqueLuettelointinumero"> <span
					                    data-i18n="common.already_in_use"
					                    data-field="{{ 'ark.Listing_number' | i18n }}"></span>
					                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12" ng-if="luetteloitu === false">
                        <div class="form-group" ng-class="{ 'has-error': imageForm.otsikko.$invalid && imageForm.otsikko.$touched }">
                            <label class="col-md-12 control-label">
                                <span i18n="common.Caption" class="pull-left"></span><span class="pull-left">*</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="otsikko"
                                    ng-model="image.properties.otsikko"
                                    ng-required="luetteloitu === false"
                                    data-i18-attr="{placeholder: 'common.Caption'}"
                                    ng-disabled="uploading == true || disableButtons" spellcheck="false" autocomplete="off">
                                <span class="help-block"
                                    ng-show="imageForm.otsikko.$invalid">
                                    <span data-i18n="common.mandatory_value"
                                        ng-show="!image.properties.otsikko"
                                        data-field="{{ 'common.Caption' | i18n }}"> </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 control-label">
                                <span i18n="common.Taken_by" class="pull-left"></span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="kuvaaja"
                                    ng-model="image.properties.kuvaaja"
                                    data-i18-attr="{placeholder: 'common.Taken_by'}"
                                    ng-disabled="uploading == true || disableButtons" spellcheck="false" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 control-label">
                                <span i18n="common.Organization" class="pull-left"></span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control"
                                    name="organisaatio"
                                    ng-model="image.properties.organisaatio"
                                    data-i18-attr="{placeholder: 'common.Organization'}"
                                    ng-disabled="false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
	                        <label class="col-md-12 control-label">
	                            <span i18n="ark.Shot_from_edit" class="pull-left"></span>
	                        </label>
	                        <div class="col-md-12">
	                            <select name="kuvaussuunta"
	                                ng-model="image.properties.kuvaussuunta"
	                                class="form-control">
	                               <option ng-repeat="suunta in kuvaussuunnat track by $index" value="{{suunta}}">{{suunta}}</option>
	                            </select>
	                        </div>
	                    </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12" ng-if="entiteetti_tyyppi === 'loyto' && luetteloitu === false">
                        <div class="form-group">
                            <label class="col-md-12 control-label">
                                <span i18n="ark.Conservation_phase" class="pull-left"></span>
                            </label>
                            <div class="col-md-12">
                                <select name="konservointivaihe"
                                    ng-model="image.properties.konservointivaihe_id"
                                    class="form-control"
                                    ng-change="updateOtsikko()">
                                    <option value=""></option>
                                    <option ng-repeat="opt in konservointivaiheet track by $index" value="{{opt.id}}">{{opt | namei18n}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12" ng-if="entiteetti_tyyppi === 'loyto' && luetteloitu === false">
                        <div class="form-group">
                            <label class="col-md-12 control-label">
                                <span i18n="ark.Identification_image" class="pull-left"></span>
                            </label>
                            <div class="col-md-12">
                                <select name="tunnistekuva"
                                    ng-model="image.properties.tunnistekuva"
                                    class="form-control"
                                    ng-options="option.value as option.label for option in noYes">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12" ng-if="entiteetti_tyyppi === 'yksikko'">
                        <div class="form-group">
                            <label class="col-md-12 control-label">
                                <span i18n="ark.Identification_image" class="pull-left"></span>
                            </label>
                            <div class="col-md-12">
                                <select name="tunnistekuva"
                                    ng-model="image.properties.tunnistekuva"
                                    class="form-control"
                                    ng-options="option.value as option.label for option in noYes">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">
                                <span i18n="common.Shoot_date_and_time" class="pull-left"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0;">
                                <input bs-datepicker data-autoclose="1" placement="bottom-left"
                                    start-week="1" class="form-control" name="kuvauspvm"
                                    ng-model="image.properties.kuvauspvm"
                                    data-date-format="dd.MM.yyyy" type="text">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0;">
                                <input bs-timepicker class="form-control"
                                    ng-model="image.properties.kuvauspvm"
                                    data-time-format="HH:mm:ss" data-autoclose="1" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="entiteetti_tyyppi !== 'kohde' && entiteetti_tyyppi !== 'tutkimus' && entiteetti_tyyppi !== 'tutkimusalue' && luetteloitu === true">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <mip-yksikko-valitsin valitut-yksikot="image.properties.yksikot" entity-id="image.properties.id" mode="'kuva'" tutkimus-id="tutkimusId" dis="false"></mip-yksikko-valitsin>
                    </div>
                </div>
                <div class="row" ng-if="entiteetti_tyyppi !== 'kohde' && entiteetti_tyyppi !== 'tutkimus' && entiteetti_tyyppi !== 'tutkimusalue' && luetteloitu === true">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <mip-loyto-valitsin valitut-loydot="image.properties.loydot" entity-id="image.properties.id" mode="'kuva'" tutkimus-id="tutkimusId" dis="false"></mip-loyto-valitsin>
                    </div>
                </div>
                <div class="row" ng-if="entiteetti_tyyppi !== 'kohde' && entiteetti_tyyppi !== 'tutkimus' && entiteetti_tyyppi !== 'tutkimusalue' && luetteloitu === true">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <mip-nayte-valitsin valitut-naytteet="image.properties.naytteet" entity-id="image.properties.id" mode="'kuva'" tutkimus-id="tutkimusId" dis="false"></mip-nayte-valitsin>
                    </div>
                </div>
                <!-- inventointitutkimuksen kautta avattaessa voi linkata kohteita -->
                <div class="row" ng-if="entiteetti_tyyppi === 'tutkimus' && relatedObject.properties.ark_tutkimuslaji_id === 5">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <mip-kohde-valitsin valitut-kohteet="image.properties.kohteet" entity-id="image.properties.id" mode="'kuva'" tutkimus="relatedObject.properties"></mip-kohde-valitsin>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <mip-asiasanavalitsin asiasanat="image.properties.asiasanat" dis="false"></mip-asiasanavalitsin>
                    </div>
                </div>
                <div class="row" ng-if="luetteloitu === false">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="form-group">
                           <label class="col-md-12 control-label">
                               <span i18n="common.Additional_information" class="pull-left"></span>
                           </label>
                           <div class="col-md-12">
                               <textarea rows="4" class="form-control" name="lisatiedot"
                                   ng-model="image.properties.lisatiedot"
                                   data-i18n-attr="{placeholder: 'common.Additional_information'}"
                                   ng-disabled="file.status == 'loading'"></textarea>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <div class="col-md-6">
	           <div class="row">
	               <div class="col-md-12">
		                <div class="form-group">
		                    <label class="col-md-12 control-label">
		                        <span i18n="common.Description" class="pull-left"></span>
		                    </label>
		                    <div class="col-md-12">
		                        <textarea rows="4" class="form-control" name="kuvaus"
		                            ng-model="image.properties.kuvaus"
		                            data-i18n-attr="{placeholder: 'common.Description'}" spellcheck="false" autocomplete="off"></textarea>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-12">
                        <mip-tekijanoikeuslausekevalitsin valittulauseketeksti="image.properties.tekijanoikeuslauseke" dis="false" osio="'arkeologia'"></mip-tekijanoikeuslausekevalitsin>
                    </div>
                    <div class="col-md-12" ng-if="entiteetti_tyyppi === 'loyto'">
                        <label class="col-md-12 control-label">
                            <span i18n="ark.Conservation_Image" class="pull-left"></span>
                        </label>
                        <select name="konservointikuva"
                            ng-model="image.properties.konservointikuva"
                            class="form-control"
                            ng-options="option.value as option.label for option in noYes">
                        </select>
                    </div>
		        </div>
            </div>
        </div>
    </div>
</div>