<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span i18n="sample.Samples"></span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
		        <ul class="list-group">
		            <li class="list-group-item"
		                ng-repeat="(key, value) in vm.yksikko.properties.naytelista"
		                style="cursor: pointer; border:0" ng-click="vm.listaaNaytteet(value);">
		                <h5 class="list-group-item-heading"><a>{{key}} {{value.length}}</a></h5>
		            </li>
		        </ul>                     
            </div>
        </div>
    </div>    
</div>