<div class="panel panel-default panel-collapsible" ng-show="!edit">
    <div class="panel-heading" data-toggle="collapse" data-target="#kuvatPanel{{modalId}}">
        <h4 class="panel-title">
            <span i18n="common.Images"></span>
            <kuvia ng-show="kuvia_kpl"></kuvia>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="kuvatPanel{{modalId}}" class="panel-body panel-collapse collapse in">
	    <div class="row">
            <div class="col-md-12">
                <ul class="list-group" data-ng-model="images">
                    <li class="list-group-item col-md-3 mip-image-item" data-ng-repeat="image in images">
                        <div class="col-md-12">
                            <img ng-if="image.properties.url_small" class="img-responsive mip-image-thumbnail"
                                ng-src="{{image.properties.url_tiny}}" alt="{{image.properties.otsikko}}"
                                ng-click="openImage(image)" > 
                            <img
                                ng-if="image.properties.url_small==''"  class="img-responsive mip-image-thumbnail"
                                ng-src="/resources/images/kuva_placeholder.png" alt="..."
                                ng-click="openImage(image)">
                        </div>
                        <div class="col-md-12 text-center mip-image-caption">
                            <span title="{{image.properties.otsikko}}">{{image.properties.otsikko}} </span>                                
                        </div>                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Muokkaus -->
<div class="panel panel-default panel-collapsible" ng-show="edit && !create">
	<div class="panel-heading" data-toggle="collapse" data-target="#kuvaEditPanel{{modalId}}">
		<h4 class="panel-title">
		  <span data-i18n="common.Images"></span>
		  <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
	    </h4>
	</div>
	<div id="kuvaEditPanel{{modalId}}" class="panel-body panel-collapse collapse in">
		<div class="row">
			<div class="col-md-12" >
				<ul class="list-group" data-as-sortable="dragControlListeners" data-ng-model="images">
	              <li class="list-group-item" data-as-sortable-item data-ng-repeat="image in images">
	                   <div class="media draggable" data-as-sortable-item-handle>
	                       <div class="media-left">
	                           <img ng-if="image.properties.url_small" ng-src="{{image.properties.url_small}}" alt="..." 
	                               ng-click="openImage(image)" style="cursor:pointer">
	                           <img ng-if="image.properties.url_small==''" ng-src="/resources/images/kuva_placeholder.png" alt="..."
	                               ng-click="openImage(image)" style="cursor:pointer">
	                       </div>
	                       <div class="media-body">
	                           <h4 class="list-group-item-heading image-heading">{{image.properties.otsikko}}</h4>
	                           <span data-i18n="common.Taken_by"></span> : {{image.properties.kuvaaja}}
	                           <span ng-if="image.properties.pvm_kuvaus">, </span>{{image.properties.pvm_kuvaus | pvm:'dd.MM.yyyy'}}
	                           <p ng-if="image.properties.kuvaus && image.properties.kuvaus.length>0" class="mip-multiline">{{image.properties.kuvaus}}</p>
	                           <p ng-if="!image.properties.kuvaus || image.properties.kuvaus.length==0">
	                               <span class="no-data" data-i18n="common.No_description"></span>
	                           </p>
	                       </div>
	                   
	                   </div>
	              </li>
	            </ul>
			</div>
		</div>
	</div>
</div>

        