    <div class="modal-dialog mip-modal-dialog" mip-dialog tabindex="-1" role="dialog" id="myModalDialog{{modalId}}">
		<div class="modal-content">
			<div class="modal-header">
				<div ng-include="'pages/templates/modal/modal_header_painikkeet.html'"></div>
				<h4 class="modal-title">
					<span i18n="common.Area"></span> {{alue.properties.kyla}} {{alue.properties.nimi}}
				</h4>
			</div>
			<div class="modal-body">
				<form
					class="form-horizontal"
					name="form"
					novalidate>
					<div class="row">
						<div class="col-md-6 column-left">
							<!-- LEFT COLUMN -->

							<div class="col-md-12" ng-if="!edit" ng-include="'rak/alueet/partials/perustiedot_view.html'"></div>
							<div class="col-md-12" ng-if="edit" ng-include="'rak/alueet/partials/perustiedot_edit.html'"></div>
                            <div class="col-md-12" ng-if="edit" ng-include="'rak/alueet/partials/inventointiprojekti_edit.html'"></div>
                            <div class="col-md-12" ng-if="edit && !create && alue.properties.inventointiprojektit.length > 0" 
                                   ng-include="'rak/alueet/partials/inventointiprojektit_view.html'"></div> 
							<div class="col-md-12" ng-if="!edit" ng-include="'rak/alueet/partials/muut_tiedot_view.html'"></div>
							<div class="col-md-12" ng-if="edit" ng-include="'rak/alueet/partials/muut_tiedot_edit.html'"></div>
                            <div class="col-md-12"
                                ng-if="!edit && (alue.properties.luoja || alue.properties.muokkaaja || alue.properties.poistaja)"
                                ng-include="'rak/alueet/partials/muokkaustiedot_view.html'"></div>
                            
                            <div class="col-md-12" ng-if="!edit && !create && alue.properties.inventointiprojektit.length > 0" 
                                   ng-include="'rak/alueet/partials/inventointiprojektit_view.html'"></div>
						</div>						
						<div class="col-md-6 column-right">
							<!-- RIGHT COLUMN -->
							<div class="col-md-12" ng-if="showMap" ng-include="'rak/alueet/partials/sijainti.html'"></div>							
							<div class="col-md-12" ng-if="arvoaluePermissions.katselu" ng-include="'rak/alueet/partials/arvoalueet_view.html'"></div>					
							<div class="col-md-12" ng-if="!edit && !create && images.length>0" ng-include="'pages/templates/kuvat_view.html'"></div>
                            <div class="col-md-12" ng-if="!edit && !create && arvoalueImages.length>0" ng-include="'rak/alueet/partials/arvoaluekuvat_view.html'"></div>
                            <div class="col-md-12" ng-if="edit && !create" ng-include="'rak/alueet/partials/kuvat_edit.html'"></div>
                            
							<div class="col-md-12" ng-if="!edit && !create && files.length>0" 
                                   ng-include="'rak/alueet/partials/tiedostot_view.html'"></div>
						</div>								
					</div>						
				</form>
			</div>
			<div class="modal-footer">
                <div class="pull-left" mip-entiteettiselain etype="'alue'" eid="alue.properties.id" close="close()" ng-show="!edit"></div>
                <div class="mip-footer-btn-group">
                
                    <button class="btn btn-default" type="button" ng-click="addImage()" 
                        i18n="common.Add_image" 
                        ng-show="!edit && !create" data-ng-if="permissions.muokkaus">
                    </button>
                    <button class="btn btn-default" type="button" ng-click="editMode()"
                        i18n="common.Edit" 
                        ng-show="!edit" ng-if="permissions.muokkaus">
                    </button>
                    <button class="btn btn-default" type="button" 
                        ng-class="{ 'disabled' : disableButtons }" ng-click="disableButtons || cancelEdit()"
                        i18n="common.Cancel_edit" 
                        ng-show="edit && !create">
                    </button>
                    <button class="btn btn-success" type="button" ng-class="{ disabled: form.$invalid || disableButtons }" 
                        ng-click="(form.$invalid || disableButtons) || save()" class="bg-success"
                        i18n="common.Save" 
                        ng-show="edit" ng-if="permissions.muokkaus">
                    </button>         
                                     
	                <div class="dropup">
	                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                      
	                        <span i18n="common.Actions"></span> <span class="caret"></span>
	                      </button>
	                      <ul class="dropdown-menu dropdown-menu-right">
	                        <li><a href="" ng-click="deleteAlue(modalNameId)" class="bg-danger" 
	                               i18n="common.Delete"                                
	                               ng-show="!create" data-ng-if="permissions.poisto"></a>
	                        </li>
	                        
	                        <li role="separator" class="divider" data-ng-if="permissions.poisto && !create"></li>
	                        
	                        <li><a href="" ng-click="showMuutoshistoria()" 
	                               i18n="common.Show_history" 
	                               ng-show="!create" data-ng-if="permissions.muokkaus"></a>
	                        </li>
	                        
	                        <li role="separator" class="divider" data-ng-if="permissions.muokkaus && !create"></li>
	                         
	                        <li class="dropdown-submenu pull-left">
	                            <a href="" style="padding-right:65px;" i18n="common.Create_report" 
	                               ng-show="!create && !edit"></a>
	                            <ul class="dropdown-menu submenuHeightFix2Elements">
	                                <li><a ng-click="createReport('PDF')"><span i18n="common.Area_report"></span> (pdf)</a></li>
	                                <li><a ng-click="createReport('WORD')"><span i18n="common.Area_report"></span> (word)</a></li>                                                                                        
	                            </ul>                        
	                        </li>
	                        
	                        <li role="separator" class="divider" data-ng-if="permissions.muokkaus && !create"></li>
	                        
	                        <li><a href="" ng-click="addFile()" 
	                               i18n="common.Add_file" 
	                               ng-show="!create" data-ng-if="permissions.muokkaus"></a>
	                        </li>
	                        <li><a href="" ng-click="addImage()" 
	                               i18n="common.Add_image" 
	                               ng-show="!create" data-ng-if="permissions.muokkaus"></a>
	                        </li>
	                        <li><a href="" ng-click="addArvoalue()"
	                               i18n="common.Add_new_valuearea" 
	                               ng-show="!edit && alue.properties.id" data-ng-if="arvoaluePermissions.luonti"></a>
	                        </li>
	                        
	                        <li role="separator" class="divider" data-ng-if="permissions.muokkaus && !create"></li>
	                         
	                        <li><a href="" ng-click="close()"
	                               i18n="common.Close" 
	                               ng-show="!edit"></a>
	                        </li>
	                        <li><a href="" ng-click="close()"
	                               i18n="common.Cancel" 
	                               ng-show="create"></a>
	                        </li>
	                        <li ng-class="{ 'disabled' : disableButtons }"><a href="" ng-click="disableButtons || cancelEdit()"
	                               i18n="common.Cancel_edit" 
	                               ng-show="edit && !create"></a>
	                        </li>
	                        
	                        <li role="separator" class="divider" data-ng-if="permissions.muokkaus"></li>
	                        
	                        <li><a href="" ng-click="editMode()"
	                               i18n="common.Edit" 
	                               ng-show="!edit" ng-if="permissions.muokkaus"></a>
	                        </li>
	                        <li ng-class="{ disabled: form.$invalid || disableButtons }"><a href="" ng-click="(form.$invalid || disableButtons) || save()" class="bg-success"
	                               i18n="common.Save" 
	                               ng-show="edit" ng-if="permissions.muokkaus"></a>
	                        </li>
	                        
	                      </ul>
	                </div>
	            </div>             
			</div>
		</div>
	    <div
	        id="{{mapPopupId}}"
	        class="mapPopup">POPUP</div>
	</div>
