<!-- Muut tiedot - muokkausmoodi -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<span i18n="common.Other_information"></span>
		</h4>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label
				for="aluetyyppi"
				class="col-sm-3 control-label">
				<span i18n="common.Additional_information"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="lisatiedot"
					data-i18n-attr="{placeholder: 'common.Additional_information'}"
					ng-model="alue.properties.lisatiedot" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>		
		<div class="form-group">
			<label
				for="lahteet"
				class="col-sm-3 control-label">
				<span i18n="common.Sources"></span>
			</label>
			<div class="col-sm-9">
				<textarea
					rows="3"
					class="form-control"
					name="lahteet"
					data-i18n-attr="{placeholder: 'common.Sources'}"
					ng-model="alue.properties.lahteet" spellcheck="false" autocomplete="off"></textarea>
			</div>
		</div>
	</div>
</div>
