<!-- Kohteen muokkaustiedot -->
<div class="panel panel-default" ng-if="h.action=='U' && h.table_name=='ark_kohde'">
    <div class="panel-heading">
        <mip-history-header item="h"></mip-history-header>
    </div>
    <table class="table">
        <tr>
            <th><span i18n="common.Field"></span></th>
            <th><span i18n="common.OldValue"></span></th>
            <th><span i18n="common.NewValue"></span></th>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('nimi')">
            <td>
                <span i18n="common.Name"></span>
            </td>
            <td>{{h.row_data.nimi}}</td>
            <td>{{h.changed_fields.nimi}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('muutnimet')">
            <td>
                <span i18n="ark.Other_names"></span>
            </td>
            <td>{{h.row_data.muutnimet}}</td>
            <td>{{h.changed_fields.muutnimet}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('maakuntanimi')">
            <td>
                <span i18n="ark.Province"></span>
            </td>
            <td>{{h.row_data.maakuntanimi}}</td>
            <td>{{h.changed_fields.maakuntanimi}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('tyhja')">
            <td>
                <span i18n="ark.Empty"></span>
            </td>
            <td>{{h.row_data.tyhja | trueFalseToText}}</td>
            <td>{{h.changed_fields.tyhja | trueFalseToText}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('kohdelaji')">
            <td>
                <span i18n="common.Kind"></span>
            </td>
            <td>{{h.row_data.kohdelaji | namei18n}}</td>
            <td>{{h.changed_fields.kohdelaji | namei18n}}</td>
        </tr>        
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_tyyppi'}).length > 0">
            <td><span i18n="common.Type"></span> - <span i18n="ark.Type_extension"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_tyyppi', action:'D'}">
                    {{c.row_data.kohde_tyyppi | namei18n}} - {{c.row_data.kohde_tyyppitarkenne | namei18n}}
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_tyyppi', action:'I'}">
                    {{c.row_data.kohde_tyyppi | namei18n}} - {{c.row_data.kohde_tyyppitarkenne | namei18n}}
                </span>
            </td>
        </tr>
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_ajoitus'}).length > 0">
            <td>
            	<span i18n="ark.Timing"></span> - 
            	<span i18n="ark.Timing_extension"></span> -
            	<span i18n="ark.Timing_criteria"></span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_ajoitus', action:'D'}">
                    {{c.row_data.kohde_ajoitus | namei18n}} - {{c.row_data.kohde_ajoitustarkenne | namei18n}} - {{c.row_data.ajoituskriteeri}}
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_ajoitus', action:'I'}">
                    {{c.row_data.kohde_ajoitus | namei18n}} - {{c.row_data.kohde_ajoitustarkenne | namei18n}} - {{c.row_data.ajoituskriteeri}}
                </span>
            </td>
        </tr> 
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_kuntakyla'}).length > 0">
            <td><span i18n="common.County"></span> - <span i18n="common.Village"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_kuntakyla', action:'D'}">
                    {{c.row_data.kohde_kunta | kuntaKylaNamei18n}} - {{c.row_data.kohde_kyla | kuntaKylaNamei18n}}
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_kuntakyla', action:'I'}">
                    {{c.row_data.kohde_kunta | kuntaKylaNamei18n}} - {{c.row_data.kohde_kyla | kuntaKylaNamei18n}}
                </span>
            </td>
        </tr>
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_vanhakunta'}).length > 0">
            <td><span i18n="ark.Old_counties"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_vanhakunta', action:'D'}">
                    {{c.row_data.kuntanimi}}
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_vanhakunta', action:'I'}">
                    {{c.row_data.kuntanimi}}
                </span>
            </td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('kuvaus')">
            <td>
                <span i18n="common.Description"></span>
            </td>
            <td>{{h.row_data.kuvaus}}</td>
            <td>{{h.changed_fields.kuvaus}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('tuhoutumissyy')">
            <td>
                <span i18n="ark.Destruction_reason"></span>
            </td>
            <td>{{h.row_data.tuhoutumissyy | namei18n}}</td>
            <td>{{h.changed_fields.tuhoutumissyy | namei18n}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('tuhoutumiskuvaus')">
            <td>
                <span i18n="ark.Destruction_description"></span>
            </td>
            <td>{{h.row_data.tuhoutumiskuvaus}}</td>
            <td>{{h.changed_fields.tuhoutumiskuvaus}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('virallinenkatselmus')">
            <td>
                <span i18n="ark.Official_review"></span>
            </td>
            <td>{{h.row_data.virallinenkatselmus | trueFalseToText}}}</td>
            <td>{{h.changed_fields.virallinenkatselmus | trueFalseToText}}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('mahdollisetseuraamukset')">
            <td>
                <span i18n="ark.Possible_ramifications"></span>
            </td>
            <td>{{h.row_data.mahdollisetseuraamukset}}</td>
            <td>{{h.changed_fields.mahdollisetseuraamukset}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('taustatiedot')">
            <td>
                <span i18n="ark.Background_information"></span>
            </td>
            <td>{{h.row_data.taustatiedot}}</td>
            <td>{{h.changed_fields.taustatiedot}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('havainnot')">
            <td>
                <span i18n="ark.Findings"></span>
            </td>
            <td>{{h.row_data.havainnot}}</td>
            <td>{{h.changed_fields.havainnot}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('tulkinta')">
            <td>
                <span i18n="ark.Interpretation"></span>
            </td>
            <td>{{h.row_data.tulkinta}}</td>
            <td>{{h.changed_fields.tulkinta}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('lisatiedot')">
            <td>
                <span i18n="ark.Additional_information"></span>
            </td>
            <td>{{h.row_data.lisatiedot}}</td>
            <td>{{h.changed_fields.lisatiedot}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('lukumaara')">
            <td>
                <span i18n="ark.Count"></span>
            </td>
            <td>{{h.row_data.lukumaara}}</td>
            <td>{{h.changed_fields.lukumaara}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('jarjestysnumero')">
            <td>
                <span i18n="ark.Order_number"></span>
            </td>
            <td>{{h.row_data.jarjestysnumero}}</td>
            <td>{{h.changed_fields.jarjestysnumero}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('tarkenne')">
            <td>
                <span i18n="ark.Extension"></span>
            </td>
            <td>{{h.row_data.tarkenne}}</td>
            <td>{{h.changed_fields.tarkenne}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('rauhoitusluokka')">
            <td>
                <span i18n="ark.Protection_class"></span>
            </td>
            <td>{{h.row_data.rauhoitusluokka | namei18n}}</td>
            <td>{{h.changed_fields.rauhoitusluokka | namei18n}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('alkuperaisyys')">
            <td>
                <span i18n="ark.Originality"></span>
            </td>
            <td>{{h.row_data.alkuperaisyys | namei18n}}</td>
            <td>{{h.changed_fields.alkuperaisyys | namei18n}}</td>
        </tr> 
        <tr ng-if="h.changed_fields.hasOwnProperty('kunto')">
            <td>
                <span i18n="ark.Condition"></span>
            </td>
            <td>{{h.row_data.kunto | namei18n}}</td>
            <td>{{h.changed_fields.kunto | namei18n}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('hoitotarve')">
            <td>
                <span i18n="ark.Necessity_for_renovation"></span>
            </td>
            <td>{{h.row_data.hoitotarve | namei18n}}</td>
            <td>{{h.changed_fields.hoitotarve | namei18n}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('huomautus')">
            <td>
                <span i18n="ark.Remarks"></span>
            </td>
            <td>{{h.row_data.huomautus}}</td>
            <td>{{h.changed_fields.huomautus}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('lahteet')">
            <td>
                <span i18n="ark.Sources"></span>
            </td>
            <td>{{h.row_data.lahteet}}</td>
            <td>{{h.changed_fields.lahteet}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('haaksirikkovuosi')">
            <td>
                <span i18n="ark.Shipwreck_year"></span>
            </td>
            <td>{{h.row_data.haaksirikkovuosi}}</td>
            <td>{{h.changed_fields.haaksirikkovuosi}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('alkuperamaa')">
            <td>
                <span i18n="ark.Ships_country_of_origin"></span>
            </td>
            <td>{{h.row_data.alkuperamaa}}</td>
            <td>{{h.changed_fields.alkuperamaa}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('alkuperamaanperustelu')">
            <td>
                <span i18n="ark.Country_of_origin_reasoning"></span>
            </td>
            <td>{{h.row_data.alkuperamaanperustelu}}</td>
            <td>{{h.changed_fields.alkuperamaanperustelu}}</td>
        </tr>
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_sijainti'}).length > 0">
            <td><span i18n="common.Location"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_sijainti', action:'D'}">
                    {{c.row_data.kohde_sijainti}}
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_sijainti', action:'I'}">
                    {{c.row_data.kohde_sijainti}}
                </span>
            </td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('sijainti_ei_tiedossa')">
            <td>
                <span i18n="ark.Location_not_known"></span>
            </td>
            <td>{{h.row_data.sijainti_ei_tiedossa | trueFalseToText}}</td>
            <td>{{h.changed_fields.sijainti_ei_tiedossa | trueFalseToText}}</td>
        </tr> 
        <tr ng-if="h.changed_fields.hasOwnProperty('koordselite')">
            <td>
                <span i18n="ark.Coordinate_description"></span>
            </td>
            <td>{{h.row_data.koordselite}}</td>
            <td>{{h.changed_fields.koordselite}}</td>
        </tr>  
        <tr ng-if="h.changed_fields.hasOwnProperty('korkeus_min')">
            <td>
                <span i18n="ark.Coordinate_z_min"></span>
            </td>
            <td>{{h.row_data.korkeus_min}}</td>
            <td>{{h.changed_fields.korkeus_min}}</td>
        </tr>  
        <tr ng-if="h.changed_fields.hasOwnProperty('korkeus_max')">
            <td>
                <span i18n="ark.Coordinate_z_max"></span>
            </td>
            <td>{{h.row_data.korkeus_max}}</td>
            <td>{{h.changed_fields.korkeus_max}}</td>
        </tr> 
        <tr ng-if="h.changed_fields.hasOwnProperty('syvyys_min')">
            <td>
                <span i18n="ark.Depth"></span> <span> min</span>
            </td>
            <td>{{h.row_data.syvyys_min}}</td>
            <td>{{h.changed_fields.syvyys_min}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('syvyys_max')">
            <td>
                <span i18n="ark.Depth"></span> <span> max</span>
            </td>
            <td>{{h.row_data.syvyys_max}}</td>
            <td>{{h.changed_fields.syvyys_max}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('etaisyystieto')">
            <td>
                <span i18n="ark.Distance"></span>
            </td>
            <td>{{h.row_data.etaisyystieto}}</td>
            <td>{{h.changed_fields.etaisyystieto}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('peruskarttanumero')">
            <td>
                <span i18n="ark.Base_map"></span>
            </td>
            <td>{{h.row_data.peruskarttanumero}}</td>
            <td>{{h.changed_fields.peruskarttanumero}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('peruskarttanimi')">
            <td>
                <span i18n="ark.Base_map_name"></span>
            </td>
            <td>{{h.row_data.peruskarttanimi}}</td>
            <td>{{h.changed_fields.peruskarttanimi}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('vedenalainen')">
            <td>
                <span i18n="ark.Underwater"></span>
            </td>
            <td>{{h.row_data.vedenalainen | trueFalseToText}}</td>
            <td>{{h.changed_fields.vedenalainen | trueFalseToText}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('rajattu')">
            <td>
                <span i18n="ark.Cropped"></span>
            </td>
            <td>{{h.row_data.rajattu | trueFalseToText}}</td>
            <td>{{h.changed_fields.rajattu | trueFalseToText}}</td>
        </tr> 
        <tr ng-if="h.changed_fields.hasOwnProperty('rajaustarkkuus')">
            <td>
                <span i18n="ark.Cropping_accuracy"></span>
            </td>
            <td>{{h.row_data.rajaustarkkuus | namei18n}}</td>
            <td>{{h.changed_fields.rajaustarkkuus | namei18n}}</td>
        </tr>  
        <tr ng-if="h.changed_fields.hasOwnProperty('maastomerkinta')">
            <td>
                <span i18n="ark.Terrain_marking"></span>
            </td>
            <td>{{h.row_data.maastomerkinta | namei18n}}</td>
            <td>{{h.changed_fields.maastomerkinta | namei18n}}</td>
        </tr>  
        <tr ng-if="h.changed_fields.hasOwnProperty('yllapitoorganisaatiotunnus')">
            <td>
                <span i18n="ark.Administrative_org_id"></span>
            </td>
            <td>{{h.row_data.yllapitoorganisaatiotunnus}}</td>
            <td>{{h.changed_fields.yllapitoorganisaatiotunnus}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('yllapitoorganisaatio')">
            <td>
                <span i18n="ark.Administrative_organisation"></span>
            </td>
            <td>{{h.row_data.yllapitoorganisaatio}}</td>
            <td>{{h.changed_fields.yllapitoorganisaatio}}</td>
        </tr>
        <tr ng-if="h.changed_fields.hasOwnProperty('julkinenurl')">
            <td>
                <span i18n="ark.Public_url"></span>
            </td>
            <td>{{h.row_data.julkinenurl}}</td>
            <td>{{h.changed_fields.julkinenurl}}</td>
        </tr> 
        <tr ng-if="h.changed_fields.hasOwnProperty('viranomaisurl')">
            <td>
                <span i18n="ark.Administrative_url"></span>
            </td>
            <td>{{h.row_data.viranomaisurl}}</td>
            <td>{{h.changed_fields.viranomaisurl}}</td>
        </tr>
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_suojelutiedot'}).length > 0">
            <td><span i18n="common.Estate_protection"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_suojelutiedot', action:'D'}">
                    {{c.row_data.kohde_suojelutyyppi | namei18n}} <br>
                    <span ng-if="c.row_data.kohde_suojelutyyppi.suojelutyyppi_ryhma_id==1">
                        <span i18n="common.Mark"></span>: {{c.row_data.merkinta}} <br>  
                    </span>
                  	<span i18n="common.Explanation"></span>: {{c.row_data.selite}}                    
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_suojelutiedot', action:'I'}">
                    {{c.row_data.kohde_suojelutyyppi | namei18n}} <br>
                    <span ng-if="c.row_data.kohde_suojelutyyppi.suojelutyyppi_ryhma_id==1">
                        <span i18n="common.Mark"></span>: {{c.row_data.merkinta}} <br>  
                    </span>
                  	<span i18n="common.Explanation"></span>: {{c.row_data.selite}}
                </span>
            </td>
        </tr> 
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_alakohde'}).length > 0">
            <td rowspan="h.children | filter:{table_name:'ark_kohde_alakohde'}).length"><span i18n="ark.Subtarget"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_alakohde', action:'D'}">
                   	<span ng-if="c.row_data.nimi">
                   		<span i18n="common.Name"></span>: {{c.row_data.nimi}}
                   	</span>
                   	<span ng-if="c.row_data.alakohde_tyyppi">
                   		<br/>
                   		<span i18n="common.Kind"></span>: {{c.row_data.alakohde_tyyppi | namei18n}}						                    	
                   	</span>
                   	<span ng-if="c.row_data.alakohde_tyyppitarkenne">
                   		<br/>
                   		<span i18n="ark.Type_extension"></span>: {{c.row_data.alakohde_tyyppitarkenne | namei18n}}						                    	
                   	</span>
                   	<span ng-if="c.row_data.kuvaus">
                   		<br/>
                   		<span i18n="common.Description"></span>: {{c.row_data.kuvaus}}
                   	</span>
                   	<span ng-if="c.row_data.koordselite">
                   		<br/>
                   		<span i18n="ark.Coordinate_description"></span>: {{c.row_data.koordselite}}
                   	</span>						                    	
                   	<span ng-if="c.row_data.korkeus_min">
                   		<br/>
                   		<span i18n="ark.Coordinate_z_min"></span>: {{c.row_data.korkeus_min}}
                   	</span>
                   	<span ng-if="c.row_data.korkeus_max">
                   		<br/>
                   		<span i18n="ark.Coordinate_z_max"></span>: {{c.row_data.korkeus_max}}
                   	</span>	                   	
                   	<!-- Alakohde ajoitus -->
                   	<span ng-repeat="ak_ajo in h.children | filter:{table_name:'ark_alakohde_ajoitus'}">
                   		<span ng-if="c.row_data.id == ak_ajo.row_data.ark_kohde_alakohde_id">
                   			<br/>
                   			<span i18n="ark.Timing"></span>: {{ak_ajo.row_data.kohde_ajoitus | namei18n}}
	                    	<span ng-if="ak_ajo.row_data.kohde_ajoitustarkenne">
	                    		<br/>
	                    		<span i18n="ark.Timing_extension"></span>: {{ak_ajo.row_data.kohde_ajoitustarkenne | namei18n}}
	                    	</span>									                    	
	                    	<span ng-if="ak_ajo.row_data.ajoituskriteeri">
	                    		<br/>
	                    		<span i18n="ark.Timing_criteria"></span>: {{ak_ajo.row_data.ajoituskriteeri}}
	                    	</span>						                    			
                   		</span>
                   	</span>						                    	
                   	<!-- Alakohde sijainti -->
                   	<span ng-repeat="ak_sij in h.children | filter:{table_name:'ark_alakohde_sijainti'}">
                   		<span ng-if="c.row_data.id == ak_sij.row_data.ark_kohde_alakohde_id">
                   			<br/>
                   			<span i18n="common.Location"></span>: {{ak_sij.row_data.kohde_sijainti}}
                   		</span>
                   	</span>                   	                   
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_alakohde', action:'I'}">
                   	<span ng-if="c.row_data.nimi">
                   		<span i18n="common.Name"></span>: {{c.row_data.nimi}}
                   	</span>
                   	<span ng-if="c.row_data.alakohde_tyyppi">
                   		<br/>
                   		<span i18n="common.Kind"></span>: {{c.row_data.alakohde_tyyppi | namei18n}}						                    	
                   	</span>
                   	<span ng-if="c.row_data.alakohde_tyyppitarkenne">
                   		<br/>
                   		<span i18n="ark.Type_extension"></span>: {{c.row_data.alakohde_tyyppitarkenne | namei18n}}						                    	
                   	</span>
                   	<span ng-if="c.row_data.kuvaus">
                   		<br/>
                   		<span i18n="common.Description"></span>: {{c.row_data.kuvaus}}
                   	</span>
                   	<span ng-if="c.row_data.koordselite">
                   		<br/>
                   		<span i18n="ark.Coordinate_description"></span>: {{c.row_data.koordselite}}
                   	</span>						                    	
                   	<span ng-if="c.row_data.korkeus_min">
                   		<br/>
                   		<span i18n="ark.Coordinate_z_min"></span>: {{c.row_data.korkeus_min}}
                   	</span>
                   	<span ng-if="c.row_data.korkeus_max">
                   		<br/>
                   		<span i18n="ark.Coordinate_z_max"></span>: {{c.row_data.korkeus_max}}
                   	</span>	                   	
                   	<!-- Alakohde ajoitus -->
                   	<span ng-repeat="ak_ajo in h.children | filter:{table_name:'ark_alakohde_ajoitus'}">
                   		<span ng-if="c.row_data.id == ak_ajo.row_data.ark_kohde_alakohde_id">
                   			<br/>
                   			<span i18n="ark.Timing"></span>: {{ak_ajo.row_data.kohde_ajoitus | namei18n}}
	                    	<span ng-if="ak_ajo.row_data.kohde_ajoitustarkenne">
	                    		<br/>
	                    		<span i18n="ark.Timing_extension"></span>: {{ak_ajo.row_data.kohde_ajoitustarkenne | namei18n}}
	                    	</span>									                    	
	                    	<span ng-if="ak_ajo.row_data.ajoituskriteeri">
	                    		<br/>
	                    		<span i18n="ark.Timing_criteria"></span>: {{ak_ajo.row_data.ajoituskriteeri}}
	                    	</span>						                    			
                   		</span>
                   	</span>						                    	
                   	<!-- Alakohde sijainti -->
                   	<span ng-repeat="ak_sij in h.children | filter:{table_name:'ark_alakohde_sijainti'}">
                   		<span ng-if="c.row_data.id == ak_sij.row_data.ark_kohde_alakohde_id">
                   			<br/>
                   			<span i18n="common.Location"></span>: {{ak_sij.row_data.kohde_sijainti}}
                   		</span>
                   	</span>                    	
                </span>
            </td>       
        </tr>
        <!-- Kiinteistöt -->
        <tr ng-if="(h.children | filter:{table_name:'ark_kohde_kiinteistorakennus'}).length > 0">
            <td><span i18n="common.Estates"></span></td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_kiinteistorakennus', action:'D'}">
                    <span i18n="common.Property_identifier"></span>: {{c.row_data.kiinteistotunnus}}
                    <span ng-if="c.row_data.kiinteisto_nimi">
                    	<br>
                   		<span i18n="common.Name"></span>: {{c.row_data.kiinteisto_nimi}}
                   	</span>
                   	<!-- Kiinteistön osoitteet -->
                   	<span ng-repeat="osoite in h.children | filter:{table_name:'ark_kohde_osoite', action:'D'}">
                   		<span ng-if="c.row_data.id == osoite.row_data.ark_kohde_kiinteistorakennus_id">
                   			<br/>
                   			<span i18n="common.Street_address"></span>: {{osoite.row_data.katunimi}}
                   			<span ng-if="osoite.row_data.katunumero">
                   				<br/>
                   				<span i18n="common.Street_number"></span>: {{osoite.row_data.katunumero}}
                   			</span>
                   			<span ng-if="osoite.row_data.postinumero">
                   				<br/>
                   				<span i18n="common.Postal_code"></span>: {{osoite.row_data.postinumero}}
                   			</span>
                   			<span ng-if="osoite.row_data.kuntanimi">
                   				<br/>
                   				<span i18n="common.County"></span>: {{osoite.row_data.kuntanimi}}
                   			</span>                    			                   			                   			
                   		</span>
                   	</span>
                   	<br/>                   	                    
                </span>
            </td>
            <td>
                <span ng-repeat="c in h.children | filter:{table_name:'ark_kohde_kiinteistorakennus', action:'I'}">
                    <span i18n="common.Property_identifier"></span>: {{c.row_data.kiinteistotunnus}}
                    <span ng-if="c.row_data.kiinteisto_nimi">
                    	<br/>
                   		<span i18n="common.Name"></span>: {{c.row_data.kiinteisto_nimi}}
                   	</span>
                   	<!-- Kiinteistön osoitteet -->
                   	<span ng-repeat="osoite in h.children | filter:{table_name:'ark_kohde_osoite', action:'I'}">
                   		<span ng-if="c.row_data.id == osoite.row_data.ark_kohde_kiinteistorakennus_id">
                   			<br/>
                   			<span i18n="common.Street_address"></span>: {{osoite.row_data.katunimi}}
                   		
                   			<span ng-if="osoite.row_data.katunumero">
                   				<br/>
                   				<span i18n="common.Street_number"></span>: {{osoite.row_data.katunumero}}
                   			</span>
                   			<span ng-if="osoite.row_data.postinumero">
                   				<br/>
                   				<span i18n="common.Postal_code"></span>: {{osoite.row_data.postinumero}}
                   			</span>
                   			<span ng-if="osoite.row_data.kuntanimi">
                   				<br/>
                   				<span i18n="common.County"></span>: {{osoite.row_data.kuntanimi}}
                   			</span> 
                   		</span>                  		
                   	</span>
                   	<br/>                   	                    
                </span>
            </td>
        </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    </table>
</div>