<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span i18n="ark.Inventory_information"></span>
        </h4>
    </div>
    <div class="panel-body">
        
        <div class="form-group" ng-class="{ 'has-error': form.taustatiedot.$invalid && form.taustatiedot.$touched }">
            <label for="taustatiedot" class="col-sm-3 control-label">
                <span i18n="ark.Background_information"></span>
            </label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" name="taustatiedot" rows="3"
                    ng-model="vm.kohde.properties.taustatiedot" spellcheck="false" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.havainnot.$invalid && form.havainnot.$touched }">
            <label for="havainnot" class="col-sm-3 control-label">
                <span i18n="ark.Findings"></span>
            </label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" name="havainnot" rows="3"
                    ng-model="vm.kohde.properties.havainnot" spellcheck="false" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.tulkinta.$invalid && form.tulkinta.$touched }">
            <label for="tulkinta" class="col-sm-3 control-label">
                <span i18n="ark.Interpretation"></span>
            </label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" name="tulkinta" rows="3"
                    data-i18n-attr="{placeholder: 'ark.Interpretation'}"
                    ng-model="vm.kohde.properties.tulkinta" spellcheck="false" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lisatiedot.$invalid && form.lisatiedot.$touched }">
            <label for="lisatiedot" class="col-sm-3 control-label">
                <span i18n="ark.Additional_information"></span>
            </label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" name="lisatiedot"
                    data-i18n-attr="{placeholder: 'ark.Additional_information'}" rows="3"
                    ng-model="vm.kohde.properties.lisatiedot" spellcheck="false" autocomplete="off"></textarea>
            </div>
        </div>       
        
    </div>
</div>