<div class="panel panel-default panel-collapsible">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#tutkimuksetPanel{{vm.modalId}}">
        <h4 class="panel-title">
            <span data-i18n="common.Researches"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="tutkimuksetPanel{{vm.modalId}}" class="panel-body panel-collapse collapse">
		<table ng-table="vm.kohdeTutkimuksetTable" template-pagination="pages/templates/table-pagination.html" class="table table-striped table-bordered" show-filter="false">
			<tr ng-repeat="tutkimus in $data">
				<td data-title="vm.getColumnName('Research', 'common')" ng-click="vm.avaaTutkimus(tutkimus)"><a href="">{{tutkimus.nimi}}</a></td>
 				<td data-title="vm.getColumnName('Inventory_date', 'common')">{{tutkimus.pivot.inventointipaiva | date:'dd.MM.yyyy'}}</td>
				<td data-title="vm.getColumnName('Inventor', 'common')">{{tutkimus.pivot.inventoija}}</td>
			</tr>
		</table>

    </div>
</div>