<div class="row">
	<!-- Tarkennettu haku -->
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-12">
			<div class="col-md-2 col-md-offset-1">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" ng-model="vm.colVisibilities.showMerkintaCol"
							ng-change="vm.saveColVisibility('showMerkintaCol', vm.colVisibilities.showMerkintaCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<mip-merkinta-multi merkinta="vm.loydotTable.filter().properties" haku="true"></mip-merkinta-multi>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showTulkintaCol"
							ng-change="vm.saveColVisibility('showTulkintaCol', vm.colVisibilities.showTulkintaCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="tulkinta" ng-model="vm.loydotTable.filter().properties.tulkinta"
							data-i18n-attr="{placeholder: 'common.Construe'}" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showAsiasanaCol"
							ng-change="vm.saveColVisibility('showAsiasanaCol', vm.colVisibilities.showAsiasanaCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="asiasana" ng-model="vm.loydotTable.filter().properties.loydon_asiasanat"
							data-i18n-attr="{placeholder: 'ark.Glossaries'}" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-2">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox" ng-model="vm.colVisibilities.showLoydonTilaCol"
                            ng-change="vm.saveColVisibility('showLoydonTilaCol', vm.colVisibilities.showLoydonTilaCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <mip-loyto-tila-multi tilat="vm.loydotTable.filter().properties" haku="true"></mip-loyto-tila-multi>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox"
                            ng-model="vm.colVisibilities.showVaatiiKonservointiaCol"
                            ng-change="vm.saveColVisibility('showVaatiiKonservointiaCol', vm.colVisibilities.showVaatiiKonservointiaCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <select class="form-control" name="vaatii_konservointia"
                            style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
                            ng-model="vm.loydotTable.filter().properties.vaatii_konservointia"
                            ng-options="konservointi.id as konservointi.nimi_fi for konservointi in vm.konservointiLista">
                        </select>
                    </div>
                </div>
            </div>
		</div>
		<!-- Rivi 2 -->
		<div class="col-md-12">
<!-- 			<div class="col-md-2 col-md-offset-1">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showKokoelmatunnusCol"
							ng-change="vm.saveColVisibility('showKokoelmatunnusCol', vm.colVisibilities.showKokoelmatunnusCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<mip-kokoelmalaji kokoelmatyyppi="loydot" laji="vm.loydotTable.filter().properties.loyto_kokoelmalaji" haku="true"></mip-kokoelmalaji>
					</div>
				</div>
			</div> -->

			<div class="col-md-2 col-md-offset-1">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showKuvausCol"
							ng-change="vm.saveColVisibility('showKuvausCol', vm.colVisibilities.showKuvausCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.kuvaus"
							data-i18n-attr="{placeholder: 'common.Description'}" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showLisatiedotCol"
							ng-change="vm.saveColVisibility('showLisatiedotCol', vm.colVisibilities.showLisatiedotCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.lisatiedot"
							data-i18n-attr="{placeholder: 'common.Additional_information'}" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-2">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox" ng-model="vm.colVisibilities.showAjoitusCol"
                            ng-change="vm.saveColVisibility('showAjoitusCol', vm.colVisibilities.showAjoitusCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <div class="col-sm-8" style="padding-left: 0px; padding-right: 0px;">
                            <input type="number" min="0" class="form-control" name="alkuvuosi"
                                ng-model="vm.loydotTable.filter().properties.alkuvuosi"
                                ng-change="vm.loydotTable.filter().properties.alkuvuosi_ajanlasku = vm.alkuvuosi_ajanlasku"
                                data-i18n-attr="{placeholder: 'ark.Timing_begin_year'}"
                                ng-disabled="vm.alkuvuosi_ajanlasku == null"
                                spellcheck="false" autocomplete="off">
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px; padding-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px">
                            <select class="form-control" ng-model="vm.alkuvuosi_ajanlasku"
                                style="padding-left: 1px"
                                ng-options="ajanlasku.id as ajanlasku.nimi_fi for ajanlasku in vm.ajanlaskut"
                                name="alkuvuosi_ajanlasku"
                                ng-change="vm.loydotTable.filter().properties.alkuvuosi = null">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox" ng-model="vm.colVisibilities.showAjoitusCol"
                            ng-change="vm.saveColVisibility('showAjoitusCol', vm.colVisibilities.showAjoitusCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <div class="col-sm-8" style="padding-left: 0px; padding-right: 0px;">
                            <input type="number" min="0" class="form-control" name="paatosvuosi"
                                ng-model="vm.loydotTable.filter().properties.paatosvuosi"
                                ng-change="vm.loydotTable.filter().properties.paatosvuosi_ajanlasku = vm.paatosvuosi_ajanlasku"
                                data-i18n-attr="{placeholder: 'ark.Timing_end_year'}"
                                ng-disabled="vm.paatosvuosi_ajanlasku == null"
                                spellcheck="false" autocomplete="off">
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px; padding-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px">
                            <select class="form-control" ng-model="vm.paatosvuosi_ajanlasku"
                                style="padding-left: 1px"
                                ng-options="ajanlasku.id as ajanlasku.nimi_fi for ajanlasku in vm.ajanlaskut"
                                name="paatosvuosi_ajanlasku"
                                ng-change="vm.loydotTable.filter().properties.paatosvuosi = null">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox"
                            ng-model="vm.colVisibilities.showKappalemaaraCol"
                            ng-change="vm.saveColVisibility('showKappalemaaraCol', vm.colVisibilities.showKappalemaaraCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <span i18n="ark.Pcs" class="form-control" disabled></span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox"
                            ng-model="vm.colVisibilities.showPainoCol"
                            ng-change="vm.saveColVisibility('showPainoCol', vm.colVisibilities.showPainoCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <span i18n="ark.Weight" class="form-control" disabled></span>
                    </div>
                </div>
            </div>
		</div>
		<!-- Rivi 3 -->
		<div class="col-md-12">
			<div class="col-md-2 col-md-offset-1">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox"
                            ng-model="vm.colVisibilities.showVakituinenSijaintiCol"
                            ng-change="vm.saveColVisibility('showVakituinenSijaintiCol', vm.colVisibilities.showVakituinenSijaintiCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
						<mip-sailytystila-haku sailytystila="vm.loydotTable.filter().properties"></mip-sailytystila-haku>
                    </div>
                </div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showHyllypaikkaCol"
							ng-change="vm.saveColVisibility('showHyllypaikkaCol', vm.colVisibilities.showHyllypaikkaCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.hyllypaikka"
							placeholder = "{{ 'ark.Shelf_spot' | i18n }}%" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showTilapainenSijaintiCol"
							ng-change="vm.saveColVisibility('showTilapainenSijaintiCol', vm.colVisibilities.showTilapainenSijaintiCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.tilapainen_sijainti"
							data-i18n-attr="{placeholder: 'ark.Temporary_location'}"spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
	            <!-- <div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox" disabled="disabled"
							ng-model="vm.colVisibilities.showToimenpideCol"
							ng-change="vm.saveColVisibility('showToimenpideCol', vm.colVisibilities.showToimenpideCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" disabled="disabled" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.TODO"
							placeholder="Toimenpide (ei toteutettu)" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div> -->
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showLoytopaikanTarkenneCol"
							ng-change="vm.saveColVisibility('showLoytopaikanTarkenneCol', vm.colVisibilities.showLoytopaikanTarkenneCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.loytopaikan_tarkenne"
							data-i18n-attr="{placeholder: 'ark.Discovery_location_extension'}" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<input type="checkbox"
							ng-model="vm.colVisibilities.showKenttanumeroVanhaTyonumeroCol"
							ng-change="vm.saveColVisibility('showKenttanumeroVanhaTyonumeroCol', vm.colVisibilities.showKenttanumeroVanhaTyonumeroCol)"
							data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.kenttanumero_vanha_tyonumero"
							data-i18n-attr="{placeholder: 'ark.Field_number_former_work_number'}" spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
		</div>
		<!-- Rivi 4 -->
		<div class="col-md-12">
			<div class="col-md-2 col-md-offset-1">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox"
								ng-model="vm.colVisibilities.showRontgenkuvanumeroCol"
								ng-change="vm.saveColVisibility('showRontgenkuvanumeroCol', vm.colVisibilities.showRontgenkuvanumeroCol)"
								data-i18n-attr="{title: 'common.Show_field'}">
						</span>
						<input type="text" class="form-control" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
							name="kuvaus" ng-model="vm.loydotTable.filter().properties.rontgenkuvat"
							placeholder = "{{ 'ark.XRay_images' | i18n }}%"  spellcheck="false" autocomplete="off">
					</div>
				</div>
			</div>
		    <div class="col-md-2">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox"
                            ng-model="vm.colVisibilities.showKMTiedotCol"
                            ng-change="vm.saveColVisibility('showKMTiedotCol', vm.colVisibilities.showKMTiedotCol)"
                            data-i18n-attr="{title: 'common.Show_field'}">
                        </span>
                        <select class="form-control" name="km_laina"
                            style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
                            ng-model="vm.loydotTable.filter().properties.km_laina"
                            ng-options="km_laina.id as km_laina.nimi_fi for km_laina in vm.kmhakuarvot">
                        </select>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

