<div class="modal-dialog mip-modal-dialog" mip-dialog tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div ng-include="'pages/templates/modal/modal_header_painikkeet.html'"></div>
            <span i18n="common.Guest_user_info_header"></span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <span i18n="common.Guest_user_info_content"></span>
                    <br><br>
                    <strong i18n="common.Guest_user_info_head1"></strong>
                    <br>
                    <span i18n="common.Guest_user_info_content1"></span>
                    <br><br>
                    <strong i18n="common.Guest_user_info_head2"></strong>
                    <br>
                    <span i18n="common.Guest_user_info_content2"></span>
                    <br><br>
                    <strong i18n="common.Guest_user_info_head3"></strong>
                    <br>
                    <span i18n="common.Guest_user_info_content3"></span>
                    <br>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">
                <span i18n="common.Close"></span>
            </button>
        </div>
    </div>
</div>