<div class="panel panel-default panel-collapsible">
	<div class="panel-heading" data-toggle="collapse" data-target="#kiinteistotPanel{{vm.modalId}}">
		<h4 class="panel-title">
			<span i18n="common.Estates" ng-show="!vm.uusia"></span><span ng-show="!vm.uusia">: {{vm.koriIdLista.length}}</span>
			<span ng-show="vm.uusia"><span i18n="common.Adding_to_cart"></span>: {{vm.uusia}}</span>
			<span ng-show="vm.poistettavat.length > 0"><span i18n="common.Removing_from_cart"></span>: {{vm.poistettavat.length}}</span>
			<span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
	<div id="kiinteistotPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
		<div class="col-md-12">
			<div class="row">
				<table ng-table="vm.kiinteistoKoriTable" template-pagination="pages/templates/table-pagination.html"
					class="table table-striped table-bordered" show-filter="false">
					<tr ng-repeat="kiinteisto in $data">
                        <td data-title="vm.getColumnName('County')" sortable="'properties.kunta'" ng-if="currentLocale === 'fi-FI'" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.kunta}}
                            ({{kiinteisto.properties.kuntanumero}})</td>
                        <td data-title="vm.getColumnName('County')" sortable="'properties.kunta'" ng-if="currentLocale === 'sv-FI'" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.kunta_se}}
                            ({{kiinteisto.properties.kuntanumero}})</td>
                        <td data-title="vm.getColumnName('Village')" sortable="'properties.kyla'" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.kyla}}
                            ({{kiinteisto.properties.kylanumero}})</td>
                        <td data-title="vm.getColumnName('Property_identifier')"
                            sortable="'properties.kiinteistotunnus'" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.kiinteistotunnus}}<span ng-if="kiinteisto.properties.palstanumero"> ({{kiinteisto.properties.palstanumero}})</span></td>
                        <td data-title="vm.getColumnName('Name')" sortable="'properties.nimi'" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.nimi}}</td>
                        <td data-title="vm.getColumnName('Address')" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.osoite}}
                            <div ng-repeat="rak_osoite in kiinteisto.properties.rakennus_osoitteet | unique: 'katunimi,katunumero'" style="padding-left:0.5em;">
                                {{rak_osoite.katunimi}} {{rak_osoite.katunumero}}
                            </div>
                        </td>
                        <td data-title="vm.getColumnName('Valuation')" ng-click="vm.avaaKiinteisto(kiinteisto)"style="cursor: pointer">
                            {{kiinteisto.properties.arvotustyyppi_nimi}}
                        </td>
						<td data-title="vm.getColumnName('Actions', 'common')" style="width:10%" ng-if="vm.edit">
	                        <button type="button" class="btn btn-sm btn-danger"
	                                data-i18n-attr="{title: 'common.Delete'}" ng-show="!vm.poistettuRivi(kiinteisto)" ng-click="vm.poistaRivi(kiinteisto, $index)">
	                                <span class="fa fa-remove" aria-hidden="true"></span>
	                        </button>
							<span i18n="common.Removing_from_cart" ng-show="vm.poistettuRivi(kiinteisto)" class="koriPoisto"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>