<div class="panel">
    <div class="panel-body">
        <div ng-include="'pages/tabs.html'"></div>
        <div ng-include="'pages/subtabs.html'"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-collapsible panel-default table-responsive">
                    <div class="panel-heading" role="tab" data-toggle="collapse"
                        data-target="#tiedotPanel">
                        <h4 class="panel-title">
                            <span i18n="common.Results"></span>
                            : {{vm.kohteetTable.total()}}
                            <span i18n="common.Shown"></span>
                            : {{vm.searchResults}}
                            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>
                    </div>
                    <div class="panel-body form-horizontal panel-collapse collapse in"
                        id="tiedotPanel" style="margin-bottom: 1em;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="vm._clearSearchFilter()"
                                    data-i18n-attr="{title: 'common.Clear_filter'}">
                                    <span class="fa fa-ban"></span>
                                </button>
                                <button type="button"
                                    class="btn btn-default"
                                    ng-class="(vm.kohteetTable.filter().properties.aluerajaus || vm.kohteetTable.filter().properties.polygonrajaus) ? 'btn-warning' : 'btn-default'"
                                    ng-click="vm.removeAluerajaus()"
                                    ng-disabled="!vm.kohteetTable.filter().properties.aluerajaus && !vm.kohteetTable.filter().properties.polygonrajaus"
                                    style="width:37.16px;"
                                    data-i18n-attr="{title: 'common.Remove_geometry_filter'}">
                                    <span class="fa fa-pencil-square-o"></span>
                                </button>
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="vm.refreshTable('kohdeCache', 'kohteetTable')"
                                    data-i18n-attr="{title: 'common.Refresh_search_results'}">
                                    <span class="fa fa-refresh"></span>
                                </button>

                                <button type="button"
                                    class="btn btn-success"
                                    data-ng-show="vm.showCreateNewButton"
                                    id="btn-create" ng-click="vm.selectKohde()"
                                    data-i18n-attr="{title: 'ark.Add_target'}">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKuntaCol"
                                                    ng-change="vm.saveColVisibility('showKuntaCol', vm.colVisibilities.showKuntaCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kuntavalitsin props="vm.kohteetTable.filter().properties"></mip-kuntavalitsin>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKylaCol"
                                                    ng-change="vm.saveColVisibility('showKylaCol', vm.colVisibilities.showKylaCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kylavalitsin props="vm.kohteetTable.filter().properties"></mip-kylavalitsin>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKohdeNimiCol"
                                                    ng-change="vm.saveColVisibility('showKohdeNimiCol', vm.colVisibilities.showKohdeNimiCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <input type="text" class="form-control" name="nimi"
                                                ng-model="vm.kohteetTable.filter().properties.nimi"
                                                data-i18n-attr="{placeholder: 'ark.Target'}"
                                                spellcheck="false"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKiinteistotunnusCol"
                                                    ng-change="vm.saveColVisibility('showKiinteistotunnusCol', vm.colVisibilities.showKiinteistotunnusCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <input type="text" class="form-control" name="kiinteistotunnus"
                                                ng-model="vm.kohteetTable.filter().properties.kiinteistotunnus"
                                                data-i18n-attr="{placeholder: 'common.Property_identifier'}"
                                                spellcheck="false"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKohdeMJTunnusCol"
                                                    ng-change="vm.saveColVisibility('showKohdeMJTunnusCol', vm.colVisibilities.showKohdeMJTunnusCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <input type="text" class="form-control" name="muinaisjaannostunnus"
                                                ng-model="vm.kohteetTable.filter().properties.muinaisjaannostunnus"
                                                data-i18n-attr="{placeholder: 'ark.Relic_id'}"
                                                spellcheck="false"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKohdeLajiCol"
                                                    ng-change="vm.saveColVisibility('showKohdeLajiCol', vm.colVisibilities.showKohdeLajiCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kohdelaji-multi kl-model="vm.kohteetTable.filter().properties"></mip-kohdelaji-multi>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKohdeTyyppiCol"
                                                    ng-change="vm.saveColVisibility('showKohdeTyyppiCol', vm.colVisibilities.showKohdeTyyppiCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kohdetyyppi-multi kt-model="vm.kohteetTable.filter().properties"></mip-kohdetyyppi-multi>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKohdeTyyppiTarkenneCol"
                                                    ng-change="vm.saveColVisibility('showKohdeTyyppiTarkenneCol', vm.colVisibilities.showKohdeTyyppiTarkenneCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kohdetyyppitarkenne-multi ktt-model="vm.kohteetTable.filter().properties"
                                                tyypit="vm.kohteetTable.filter().properties.kohdetyypit"></mip-kohdetyyppitarkenne-multi>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showAjoitusCol"
                                                    ng-change="vm.saveColVisibility('showAjoitusCol', vm.colVisibilities.showAjoitusCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-ajoitus-multi aj-model="vm.kohteetTable.filter().properties"></mip-ajoitus-multi>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showTyhjaCol"
                                                    ng-change="vm.saveColVisibility('showTyhjaCol', vm.colVisibilities.showTyhjaCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
											<select class="form-control" name="tyhja"
												style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
												ng-model="vm.kohteetTable.filter().properties.tyhja"
												ng-options="tyhja.id as tyhja.nimi_fi for tyhja in vm.tyhjaKohdeArvot">
											</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showVaatiiTarkastustaCol"
                                                    ng-change="vm.saveColVisibility('showVaatiiTarkastustaCol', vm.colVisibilities.showVaatiiTarkastustaCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
											<select class="form-control" name="tyhja"
												style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
												ng-model="vm.kohteetTable.filter().properties.vaatii_tarkastusta"
												ng-options="tarkastus.id as tarkastus.nimi_fi for tarkastus in vm.vaatiiTarkastustaArvot">
											</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showKyppiStatusCol"
                                                    ng-change="vm.saveColVisibility('showKyppiStatusCol', vm.colVisibilities.showKyppiStatusCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kyppi-status-multi kyppi-model="vm.kohteetTable.filter().properties"></mip-kyppi-status-multi>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showInventointiCol"
                                                    ng-change="vm.saveColVisibility('showInventointiCol', vm.colVisibilities.showInventointiCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <input type="text" class="form-control" name="tutkimusnimi"
                                                ng-model="vm.kohteetTable.filter().properties.tutkimuksen_nimi"
                                                data-i18n-attr="{placeholder: 'ark.Inventory_research'}"
                                                spellcheck="false"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="vm.colVisibilities.showInventoijaCol"
                                                    ng-change="vm.saveColVisibility('showInventoijaCol', vm.colVisibilities.showInventoijaCol)"
                                                    data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <ui-select class="ng-animate-disabled" ng-model="vm.kohteetTable.filter().properties.inventoija" name="inventoija" theme="bootstrap">
                                                <ui-select-match allow-clear="true" data-i18n-attr="{placeholder: 'common.Inventors'}">
                                                    {{$select.selected.properties.etunimi}}
                                                    {{$select.selected.properties.sukunimi}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="k.properties.id as k in vm.kayttajat | filter: $select.search track by k.properties.id">
                                                    <span ng-bind-html="k.properties.etunimi | highlight: $select.search"></span>
                                                    <span ng-bind-html="k.properties.sukunimi | highlight: $select.search"></span>
                                                    <span ng-bind-html="k.properties.sahkoposti | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table ng-table="vm.kohteetTable"
                        template-pagination="pages/templates/table-pagination.html"
                        class="table table-striped table-bordered" show-filter="false">

                        <tr ng-repeat="kohde in $data" style="cursor: pointer"
                            ng-click="vm.selectKohde(kohde)">
                            <td data-title="vm.getColumnName('County')" sortable="'properties.kunta'" ng-if="vm.colVisibilities.showKuntaCol">
                                <div ng-repeat="kuntakyla in kohde.properties.kunnatkylat">{{kuntakyla.kunta | kuntaKylaNamei18n}}
                                    <span ng-if="kuntakyla.kunta">({{kuntakyla.kunta.kuntanumero}})</span>
                                </div>
                            </td>
                            <td data-title="vm.getColumnName('Village')" sortable="'properties.kyla'" ng-if="vm.colVisibilities.showKylaCol">
                                <div ng-repeat="kuntakyla in kohde.properties.kunnatkylat">{{kuntakyla.kyla | kuntaKylaNamei18n}}
                                    <span ng-if="kuntakyla.kyla">({{kuntakyla.kyla.kylanumero}})</span>
                                </div>
                            </td>
                            <td data-title="vm.getColumnName('Name')" sortable="'properties.nimi'" ng-if="vm.colVisibilities.showKohdeNimiCol">
                                {{kohde.properties.nimi}}
                            </td>
                            <td data-title="vm.getColumnName('Relic_id', 'ark')" sortable="'properties.muinaisjaannostunnus'" ng-if="vm.colVisibilities.showKohdeMJTunnusCol">
                                {{kohde.properties.muinaisjaannostunnus}}</td>
                            <td data-title="vm.getColumnName('Property_identifier')" sortable="'properties.kiinteisto.kiinteistotunnus'" ng-if="vm.colVisibilities.showKiinteistotunnusCol">
                                <div ng-repeat="kr in kohde.properties.kiinteistotrakennukset">
                                	{{kr.kiinteistotunnus}}
                                </div>
                            </td>
                            <td data-title="vm.getColumnName('Kind')" sortable="'properties.laji.nimi_fi'" ng-if="vm.colVisibilities.showKohdeLajiCol">
                                {{kohde.properties.laji | namei18n}}</td>
                            <td data-title="vm.getColumnName('Type')" sortable="'properties.tyyppi'" ng-if="vm.colVisibilities.showKohdeTyyppiCol">
                                <div ng-repeat="tyypit in kohde.properties.tyypit">{{tyypit.tyyppi | namei18n}}</div>
                            </td>
                            <td data-title="vm.getColumnName('Type_extension', 'ark')" sortable="'properties.tyyppitarkenne'" ng-if="vm.colVisibilities.showKohdeTyyppiTarkenneCol">
                                <div ng-repeat="tyypit in kohde.properties.tyypit">{{tyypit.tarkenne | namei18n}}</div>
                            </td>
                            <td data-title="vm.getColumnName('Timing', 'ark')" sortable="'properties.ajoitus'" ng-if="vm.colVisibilities.showAjoitusCol">
                                <div ng-repeat="ajoitus in kohde.properties.ajoitukset">{{ajoitus.ajoitus | namei18n}}</div>
                            </td>
                            <td data-title="vm.getColumnName('Empty', 'ark')" sortable="'properties.tyhja'" ng-if="vm.colVisibilities.showTyhjaCol">
                                <span>{{kohde.properties.tyhja | trueFalseToText}}</span>
                            </td>
                            <td data-title="vm.getColumnName('Examination_required', 'ark')" sortable="'properties.vaatii_tarkastusta'" ng-if="vm.colVisibilities.showVaatiiTarkastustaCol">
                                <span>{{kohde.properties.vaatii_tarkastusta | trueFalseToText}}</span>
                            </td>
                            <td data-title="vm.getColumnName('Relic_register', 'ark')" sortable="kyppi_status" ng-if="vm.colVisibilities.showKyppiStatusCol">
                                <span ng-show="kohde.properties.kyppi_status == '1'" i18n="ark.New_target"></span>
                                <span ng-show="kohde.properties.kyppi_status == '2'" i18n="ark.Modified_target"></span>
                            </td>
                            <td data-title="vm.getColumnName('Inventory', 'ark')" ng-if="vm.colVisibilities.showInventointiCol">
                                <div ng-repeat="inventointi in kohde.properties.inventointitutkimukset">
                                    {{inventointi.nimi}}
                                </div>
                            </td>
                            <td data-title="vm.getColumnName('Inventors')" ng-if="vm.colVisibilities.showInventoijaCol">
                                <span ng-repeat="inventointi in kohde.properties.inventointitutkimukset">
                                    <div ng-if="inventointi.pivot.inventoija">{{inventointi.pivot.inventoija}}<span ng-if="!$last">,</span></div>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>