<div class="panel">
	<div class="panel-body">
		<div ng-include="'pages/tabs.html'"></div>
		<div ng-include="'pages/subtabs.html'"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-collapsible panel-default table-responsive">
					<div class="panel-heading" role="tab" data-toggle="collapse" data-target="#hakukentat">
                        <h4 class="panel-title">
                            <span i18n="common.Results"></span>
                            : {{vm.naytteetTable.total()}}
                            <span i18n="common.Shown"></span>
                            : {{vm.searchResults}}
                            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>
					</div>
                    <div class="panel-body form-horizontal panel-collapse collapse in" id="hakukentat"
                    	ng-include="'ark/naytteet/nayte_hakukentat.html'"
                    	style="margin-bottom: 1em;">
                   </div>
					<div class="panel-heading" role="tab" data-toggle="collapse" data-target="#tarkennettu_haku">
                        <h4 class="panel-title">
                            <span i18n="common.Advanced_search"></span>
                            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>
					</div>
                    <div class="panel-body form-horizontal panel-collapse collapse" id="tarkennettu_haku"
                    	ng-include="'ark/naytteet/nayte_tarkennettu_haku.html'"
                    	style="margin-bottom: 1em;">
                   </div>
                   <!-- Taulukko -->
					<table ng-table="vm.naytteetTable"
                        template-pagination="pages/templates/table-pagination.html"
						class="table table-striped table-bordered" show-filter="false">
						<tr ng-repeat="nayte in $data" style="cursor: pointer" ng-click="vm.avaaNayte(nayte)">
                            <td data-title="vm.getColumnName('Main_number', 'ark')" sortable="'properties.nayte_paanumero'" ng-if="vm.colVisibilities.showPaanumeroCol">
                                <div ng-if="nayte.properties.yksikko">{{nayte.properties.yksikko.tutkimusalue.tutkimus.nayte_paanumero}}</div>
                                <div ng-if="nayte.properties.tutkimusalue">{{nayte.properties.tutkimusalue.tutkimus.nayte_paanumero}}</div><!-- IRTOLÖYTÖ -->
                            </td>
                            <td data-title="vm.getColumnName('Research_abbreviation', 'ark')" sortable="'properties.tutkimusLyhenne'" ng-if="vm.colVisibilities.showTutkimusLyhenneCol">
                                <div ng-if="nayte.properties.yksikko">{{nayte.properties.yksikko.tutkimusalue.tutkimus.tutkimuksen_lyhenne}}</div>
                                <div ng-if="nayte.properties.tutkimusalue">{{nayte.properties.tutkimusalue.tutkimus.tutkimuksen_lyhenne}}</div><!-- IRTOLÖYTÖ -->
                            </td>
                            <td data-title="vm.getColumnName('Research_name', 'ark')" ng-if="vm.colVisibilities.showTutkimuksenNimiCol">
                                <div ng-if="nayte.properties.yksikko">{{nayte.properties.yksikko.tutkimusalue.tutkimus.nimi}}</div>
                                <div ng-if="nayte.properties.tutkimusalue">{{nayte.properties.tutkimusalue.tutkimus.nimi}}</div><!-- IRTOLÖYTÖ -->
                            </td>
                            <td data-title="vm.getColumnName('Listing_number', 'ark')" sortable="'properties.luettelointinumero'" ng-if="vm.colVisibilities.showLuettelointinumeroCol">
                                {{nayte.properties.luettelointinumero}}
                                <span ng-if="nayte.properties.alkup_luetnro">({{nayte.properties.alkup_luetnro}})</span>
                            </td>
                            <td data-title="vm.getColumnName('Unit_identifier', 'unit')" ng-if="vm.colVisibilities.showYksikkotunnusCol">
                                {{nayte.properties.yksikko.yksikkotunnus}}
                            </td>
                            <td data-title="vm.getColumnName('Sample_code', 'sample')" ng-if="vm.colVisibilities.showNaytekoodiCol">
				               	{{nayte.properties.naytekoodi | namei18n}}
                            </td>
                            <td data-title="vm.getColumnName('Sample_type', 'sample')" ng-if="vm.colVisibilities.showNaytetyyppiCol">
				               	{{nayte.properties.naytetyyppi | namei18n}}
                            </td>
                             <td data-title="vm.getColumnName('Sample_remaining', 'sample')" ng-if="vm.colVisibilities.showNaytettaJaljellaCol">
				               	{{nayte.properties.naytetta_jaljella | trueFalseToText}}
                            </td>
                             <td data-title="vm.getColumnName('Description', 'common')" ng-if="vm.colVisibilities.showKuvausCol">
				               	{{nayte.properties.kuvaus}}
                            </td>
                            <td data-title="vm.getColumnName('Additional_information', 'common')" ng-if="vm.colVisibilities.showLisatiedotCol">
                                {{nayte.properties.lisatiedot}}
                            </td>
                            <td data-title="vm.getColumnName('Sample_status', 'sample')" ng-if="vm.colVisibilities.showNaytteenTilaCol">
                                {{nayte.properties.tila | namei18n}}
                            </td>
                            <td data-title="vm.getColumnName('Class', 'sample')" ng-if="vm.colVisibilities.showAjoitusnaytteenLuokkaCol">
				               	<span ng-repeat="luokka in vm.ajoitusluokat">
				               		<span ng-show="luokka.id == nayte.properties.luokka">{{luokka.nimi_fi}}</span>
				               	</span>
                            </td>
                            <td data-title="vm.getColumnName('Amount_g', 'sample')" ng-if="vm.colVisibilities.showLuunayteMaaraCol">
                                {{nayte.properties.luunayte_maara}}
                            </td>
                            <td data-title="vm.getColumnName('Amount_l', 'sample')" ng-if="vm.colVisibilities.showMaanayteMaaraCol">
                                {{nayte.properties.maanayte_maara}}
                            </td>
                            <td data-title="vm.getColumnName('Permanent_location', 'ark')" ng-if="vm.colVisibilities.showVakituinenSijaintiCol">
                                <div>
                                    {{nayte.properties.sailytystila | namei18n}}
                                </div>
                            </td>
                            <td data-title="vm.getColumnName('Shelf_spot', 'ark')" ng-if="vm.colVisibilities.showHyllypaikkaCol">
                                <div>
                                    {{nayte.properties.vakituinen_hyllypaikka}}
                                </div>
                            </td>
                            <td data-title="vm.getColumnName('Temporary_location', 'ark')" ng-if="vm.colVisibilities.showTilapainenSijaintiCol">
                                <div>
                                    {{nayte.properties.tilapainen_sijainti}}
                                </div>
                            </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>