<div class="popover" style="width: 25em; max-width: 40em; height:50em;" tabindex="-1" id="qrScannerPopover">
    <div class="arrow"></div>
    <h3 class="popover-title" i18n="common.Scan_qrcode"></h3>
    <div class="col-md-12" style="margin: 5px;">
        <input type="text" class="form-control" data-i18n-attr="{placeholder: 'common.Basket_name'}"
            ng-model="korinimi" ng-change="$hide(); haeKoriNimella(korinimi);"
            ng-model-options='{debounce: 1000}' min-length="3">   
        <br />
        <qr-scanner width="300" height="400" ng-success="onSuccess(data)" ng-error="onError(error)" ng-video-error="onVideoError(error)" />
        <br />
        <p>{{scannerErrorText}}</p>
    </div>
</div>