<!-- Muokkaustiedot -->
<div class="panel panel-default panel-collapsible">
	<div class="panel-heading" data-toggle="collapse" data-target="#muokkaustietoPanel{{modalId}}">
		<h4 class="panel-title">
		    <span data-i18n="common.Edit_info"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
    <div id="muokkaustietoPanel{{modalId}}" class="panel-body panel-collapse collapse in">

		<div class="form-group" ng-if="kunta.properties.luotu || kunta.properties.luoja">
			<label class="col-sm-3 control-label"> <span
				i18n="common.Created_by"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					{{kunta.properties.luotu | pvm:'dd.MM.yyyy HH:mm:ss'}} :
					{{kunta.properties.luoja | kayttaja}}</p>
			</div>
		</div>
		<div class="form-group" ng-if="kunta.properties.muokattu || kunta.properties.muokkaaja">
			<label class="col-sm-3 control-label"> <span
				i18n="common.Changed_by"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					{{kunta.properties.muokattu | pvm:'dd.MM.yyyy HH:mm:ss'}}
					: {{kunta.properties.muokkaaja | kayttaja}}</p>
			</div>
		</div>
		<div class="form-group" ng-if="kunta.properties.poistettu || kunta.properties.poistaja">
			<label class="col-sm-3 control-label"> <span
				i18n="common.Deleted_by"></span>
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					{{kunta.properties.poistettu | pvm:'dd.MM.yyyy HH:mm:ss'}}
					: {{kunta.properties.poistaja}}</p>
			</div>
		</div>
	</div>
</div>

