<div class="panel">
    <div class="panel-body">
        <div ng-include="'pages/tabs.html'"></div>
        <div ng-include="'pages/subtabs.html'"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-collapsible table-responsive">
                    <div class="panel-heading" role="tab" data-toggle="collapse"
                        data-target="#tiedotPanel">
                        <h4 class="panel-title">
                            <span i18n="common.Results"></span> : {{arvoalueetTable.total()}} <span
                                i18n="common.Shown"></span> : {{searchResults}} <span
                                class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>
                    </div>
                    <div class="panel-body form-horizontal panel-collapse collapse in"
                        id="tiedotPanel" style="margin-bottom: 1em;">
                        <div class="row">
                             <div class="col-md-2 col-sm-2 col-xs-2">
                                
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="clearSearchFilter()" 
                                    data-i18n-attr="{title: 'common.Clear_filter'}">
                                    <span class="fa fa-ban"></span>
                                </button>
                                <button type="button"
                                    class="btn btn-default"
                                    ng-class="(arvoalueetTable.filter().properties.aluerajaus || arvoalueetTable.filter().properties.polygonrajaus) ? 'btn-warning' : 'btn-default'"
                                    ng-click="removeAluerajaus()"
                                    ng-disabled="!arvoalueetTable.filter().properties.aluerajaus && !arvoalueetTable.filter().properties.polygonrajaus"
                                    style="width:37.16px;"
                                    data-i18n-attr="{title: 'common.Remove_geometry_filter'}">
                                    <span class="fa fa-pencil-square-o"></span>
                                </button> 
                                <button type="button"
                                    class="btn btn-default"
                                    ng-click="refreshTable()"
                                    data-i18n-attr="{title: 'common.Refresh_search_results'}">
                                    <span class="fa fa-refresh"></span>
                                </button>                                                               
								<button type="button" class="btn btn-default" ng-click="lisaaKoriin()"
									data-i18n-attr="{title: 'common.Add_to_cart'}">
									<i class="fa fa-cart-plus"></i>
								</button>                                
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">                                        
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showKuntaCol" ng-change="saveColVisibility('showKuntaCol', colVisibilities.showKuntaCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>     
                                             <mip-kuntavalitsin props="arvoalueetTable.filter().properties"></mip-kuntavalitsin>
                                        </div>                                                                                                                         
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">                                        
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showKylaCol" ng-change="saveColVisibility('showKylaCol', colVisibilities.showKylaCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>
                                            <mip-kylavalitsin props="arvoalueetTable.filter().properties"></mip-kylavalitsin>     
                                        </div>                                                                                     
                                    </div>
                                </div>                                                             
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showAlueNimiCol" ng-change="saveColVisibility('showAlueNimiCol', colVisibilities.showAlueNimiCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span> 
                                            <input type="text" class="form-control" name="alue_nimi"
                                                ng-model="arvoalueetTable.filter().properties.alue_nimi"
                                                data-i18n-attr="{placeholder: 'common.Area'}" spellcheck="false" autocomplete="off">
                                         </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">                                  
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showArvoalueNimiCol" ng-change="saveColVisibility('showArvoalueNimiCol', colVisibilities.showArvoalueNimiCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span> 
                                            <input type="text" class="form-control" name="nimi"
                                                ng-model="arvoalueetTable.filter().properties.nimi"
                                                data-i18n-attr="{placeholder: 'common.Valuearea'}" spellcheck="false" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">                                   
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showAluetyyppiCol" ng-change="saveColVisibility('showAluetyyppiCol', colVisibilities.showAluetyyppiCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span> 
                                            <ui-select ng-model="arvoalueetTable.filter().properties.aluetyyppi"
    											name="arvotus" theme="bootstrap" multiple="true"
    											ng-required="false"
    											on-remove="addItemBackToList($item, aluetyyppiOptions)"
                                                spellcheck="false">
    										<ui-select-match data-i18n-attr="{placeholder: 'common.Area_type'}">{{$item | namei18n}}</ui-select-match>
    										<ui-select-choices
    											repeat="aluetyyppi.id as aluetyyppi in aluetyyppiOptions | filter: {'nimi_fi': $select.search}">
    										<div ng-bind-html="aluetyyppi | namei18n | highlight: $select.search">
												</div>
    										</ui-select-choices> </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showArvotusCol" ng-change="saveColVisibility('showArvotusCol', colVisibilities.showArvotusCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span> 
                                        	<ui-select ng-model="arvoalueetTable.filter().properties.arvotus"
    											name="arvotus" theme="bootstrap" multiple="true"
    											ng-required="false"
    											on-remove="addItemBackToList($item, arvotusOptions)"
                                                spellcheck="false">
    										<ui-select-match data-i18n-attr="{placeholder: 'common.Valuation'}">{{$item | namei18n}}</ui-select-match>
    										<ui-select-choices
    											repeat="arvotus.id as arvotus in arvotusOptions | filter: {'nimi_fi': $select.search}">
    										<div ng-bind-html="arvotus | namei18n | highlight: $select.search">
												</div>
    										</ui-select-choices> </ui-select>  
                                        </div>
                                    </div>
                                </div>   
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showPaikkakuntaCol" ng-change="saveColVisibility('showPaikkakuntaCol', colVisibilities.showPaikkakuntaCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span> 
                                            <input type="text" class="form-control" name="paikkakunta"
                                                ng-model="arvoalueetTable.filter().properties.paikkakunta"
                                                data-i18n-attr="{placeholder: 'common.District'}"
                                                spellcheck="false" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="col-md-12">         
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="colVisibilities.showInventointiprojektiCol" ng-change="saveColVisibility('showInventointiprojektiCol', colVisibilities.showInventointiprojektiCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                            </span>                                       
                                            <ui-select 
                                                ng-model="arvoalueetTable.filter().properties.inventointiprojektiId"
                                                name="inventointiprojekti"                                                
                                                ng-change="getInventoijat()"
                                                spellcheck="false">
                                                <ui-select-match 
                                                        allow-clear="true"
                                                        data-i18n-attr="{placeholder: 'common.Inventory_project'}">{{$select.selected.nimi}}</ui-select-match>
                                                <ui-select-choices
                                                    position="down"
                                                    repeat="ip.id as ip in inventointiprojektit | filter: {'nimi': $select.search} track by $index "
                                                    refresh="getInventointiprojektit($select.search)"
                                                    refresh-delay="250">
                                                    <div ng-bind-html="ip.nimi | highlight: $select.search"></div>
                                                </ui-select-choices> 
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>     
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <div class="col-md-12">         
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" ng-model="colVisibilities.showInventoijaCol" ng-change="saveColVisibility('showInventoijaCol', colVisibilities.showInventoijaCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                                    </span>                                       
                                                    <ui-select 
                                                        ng-model="arvoalueetTable.filter().properties.inventoija"
                                                        name="inventointijat"
                                                        spellcheck="false">
                                                        <ui-select-match 
                                                            data-i18n-attr="{placeholder: 'common.Inventors'}"
                                                            allow-clear="true">{{$select.selected.etunimi}} {{$select.selected.sukunimi}}</ui-select-match>
                                                        <ui-select-choices                                               
                                                            group-by="'tyyppi'"
                                                            repeat="inventoija.id as inventoija in inventoijat track by $index "
                                                            refresh="getInventoijat($select.search)"
                                                            refresh-delay="250">
                                                            <div>                                                                
                                                                <span
                                                                    ng-bind-html="inventoija.etunimi | highlight: $select.search">
                                                                </span>
                                                                <span
                                                                    ng-bind-html="inventoija.sukunimi | highlight: $select.search">
                                                                </span>
                                                            </div>
                                                        </ui-select-choices> 
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="col-md-12">         
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" ng-model="colVisibilities.showAddedByCol" ng-change="saveColVisibility('showAddedByCol', colVisibilities.showAddedByCol)" data-i18n-attr="{title: 'common.Show_field'}">
                                                    </span>                                       
                                                    <ui-select 
                                                        ng-model="arvoalueetTable.filter().properties.luoja"
                                                        name="luoja"
                                                        spellcheck="false">
                                                        <ui-select-match 
                                                            data-i18n-attr="{placeholder: 'common.Created_by'}"
                                                            allow-clear="true">{{$select.selected.etunimi}} {{$select.selected.sukunimi}}</ui-select-match>
                                                        <ui-select-choices                                               
                                                            group-by="'tyyppi'"
                                                            repeat="kayttaja.id as kayttaja in kayttajat track by $index "
                                                            refresh="getKayttajat($select.search)"
                                                            refresh-delay="250">
                                                            <div>                                                                
                                                                <span
                                                                    ng-bind-html="kayttaja.etunimi | highlight: $select.search">
                                                                </span>
                                                                <span
                                                                    ng-bind-html="kayttaja.sukunimi | highlight: $select.search">
                                                                </span>
                                                            </div>
                                                        </ui-select-choices> 
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>
                                </div>                                                                             
                            </div>                           
                        </div>
                    </div>
                    <table ng-table="arvoalueetTable" class="table table-striped table-bordered"
                        template-pagination="pages/templates/table-pagination.html"
                        show-filter="false">
                        <tr ng-repeat="arvoalue in $data" style="cursor: pointer"
                            ng-click="selectArvoalue(arvoalue)">
                            <td data-title="getColumnName('County')" sortable="'properties.kunta'" ng-if="colVisibilities.showKuntaCol"
                                filter="{ 'properties.kunta': 'text' }">
                                <div ng-repeat="kyla in arvoalue.properties.kylat">
                                    {{kyla.kunta | kuntaKylaNamei18n}} ({{kyla.kunta.kuntanumero}})</div>
                            </td>
                            <td data-title="getColumnName('Village')" sortable="'properties.kyla'" ng-if="colVisibilities.showKylaCol"
                                filter="{ 'properties.kyla': 'text' }">
                                <div ng-repeat="kyla in arvoalue.properties.kylat">{{kyla.nimi}}
                                    ({{kyla.kylanumero}})</div>
                            </td>
							<td data-title="getColumnName('District')" sortable="'properties.paikkakunta'"  ng-if="colVisibilities.showPaikkakuntaCol"
                                filter="{ 'properties.paikkakunta': 'text' }">{{arvoalue.properties.paikkakunta}}</td>                             
                            <td data-title="getColumnName('Area')" sortable="'properties.alue_nimi'" ng-if="colVisibilities.showAlueNimiCol"
                                filter="{ 'properties.alue_nimi': 'text' }">{{arvoalue.properties._alue.nimi}}
                            </td>
                            <td data-title="getColumnName('Name')" sortable="'properties.nimi'"  ng-if="colVisibilities.showArvoalueNimiCol"
                                filter="{ 'properties.nimi': 'text' }">{{arvoalue.properties.nimi}} </td>
                            <td data-title="getColumnName('Area_type')"  ng-if="colVisibilities.showAluetyyppiCol"
                                sortable="'properties.aluetyyppi_nimi'"
                                filter="{ 'properties.aluetyyppi': 'text' }">{{arvoalue.properties.aluetyyppi
                                | namei18n}}</td>
                            <td data-title="getColumnName('Valuation')"  ng-if="colVisibilities.showArvotusCol"
                                sortable="'properties.arvotustyyppi_nimi'">{{arvoalue.properties.arvotustyyppi
                                | namei18n}} <span ng-show="!arvoalue.geometry.coordinates" class="fa fa-exclamation pull-right" style="color:#A94442;" aria-hidden="true" data-i18n-attr="{title: 'common.No_location'}"></span>
                            </td>
                            <td data-title="getColumnName('Inventory_project')" ng-if="colVisibilities.showInventointiprojektiCol">
                                <div ng-repeat="ip in arvoalue.properties.inventointiprojektit">
                                    {{ip.nimi}}
                                </div>
                            </td>
                            <td data-title="getColumnName('Inventor')" ng-if="colVisibilities.showInventoijaCol">                                
                                <div ng-repeat="inventoija in arvoalue.properties.inventoijat_str">
                                {{inventoija.etunimi}} {{inventoija.sukunimi}}
                                </div>                             
                            </td>
                            <td data-title="getColumnName('Added_by')" ng-if="colVisibilities.showAddedByCol"
                            filter="{ 'properties.luoja': 'number' }">                                                                
                                {{arvoalue.properties.luoja.etunimi}} {{arvoalue.properties.luoja.sukunimi}}                                                             
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>