<div class="panel panel-default panel-collapsible">
	<div class="panel-heading" data-toggle="collapse" data-target="#tiedotPanel{{vm.modalId}}">
		<h4 class="panel-title">
			<span i18n="ark.Event"></span>: <span i18n="ark.Edit_discovery_status"></span>
			<span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
	<div id="tiedotPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
		<div class="panel-body" ng-if="vm.korityyppi.taulu === 'ark_loyto' && vm.tilanmuutos">
			<div class="col-sm-6">
				<!-- Kokoelmassa - show qr code reader -->
				<div class="row" ng-if="vm.loyto.properties.loydon_tila.id == 6">
					<button id ="popover_tila" type="button" class="btn btn-default" style="width: 37.16px"
						data-template-url="pages/templates/popover-tila-qr-scanner.html"
						data-auto-close="true" bs-popover data-container="body"
						data-i18n-attr="{title: 'common.Search_on_map'}">
						<span class="fa fa-qrcode" aria-hidden="true"></span>
    			</button>
					<br />
				</div>
				<mip-loyto-tila tila="vm.loyto.properties" vm="vm"></mip-loyto-tila>
				<!-- Luetteloitu, Konservoinnissa,
			Röntgenkuvauksessa, Poistettu löytöluettelosta,
			Palautettu, Poistettu kokoelmasta,
			Puuttuu  -->
				<div ng-if="vm.loyto.properties.loydon_tila.id == 1 || vm.loyto.properties.loydon_tila.id == 2 ||
					vm.loyto.properties.loydon_tila.id == 4 || vm.loyto.properties.loydon_tila.id == 5 ||
					vm.loyto.properties.loydon_tila.id == 11 || vm.loyto.properties.loydon_tila.id == 9 ||
					vm.loyto.properties.loydon_tila.id == 10"
				 ng-include="'korit/partials/ark/loyto_tila_luetteloitu.html'"></div>
				<!-- Lainassa, Näyttelyssä -->
				<div ng-if="vm.loyto.properties.loydon_tila.id == 7 || vm.loyto.properties.loydon_tila.id == 8" ng-include="'korit/partials/ark/loyto_tila_lainassa.html'"></div>
				<!-- Kokoelmassa -->
				<div ng-if="vm.loyto.properties.loydon_tila.id == 6" ng-include="'korit/partials/ark/loyto_tila_kokoelmassa.html'"></div>
				<div class="row">&nbsp;</div>
			    <div class="form-group">
			        <div class="col-sm-12">
			            <button type="button" ng-click="vm.peruutaTilanMuutos()"
			                class="btn btn-default pull-right" style="margin-left : 5px">
			                <span i18n="common.Cancel"></span>
			            </button>
			            <button type="button" ng-click="form.$invalid || vm.teeTilanMuutos()"
			             class="btn btn-success pull-right" ng-class="{ disabled: form.$invalid}">
			                <span i18n="common.Save"></span>
			            </button>
			        </div>
				  </div>
			</div>
			<div class="col-sm-6">&nbsp;</div>
		</div>
	</div>
</div>