<div class="panel panel-default panel-collapsible">
	<div class="panel-heading" data-toggle="collapse" data-target="#loydotPanel{{vm.modalId}}">
		<h4 class="panel-title">
			<span i18n="ark.Discoveries" ng-show="!vm.uusia"></span><span ng-show="!vm.uusia">: {{vm.koriIdLista.length}}</span>
			<span ng-show="vm.uusia"><span i18n="common.Adding_to_cart"></span>: {{vm.uusia}}</span>
			<span ng-show="vm.poistettavat.length > 0"><span i18n="common.Removing_from_cart"></span>: {{vm.poistettavat.length}}</span>
			<span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
	<div id="loydotPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
		<div class="col-md-12">
			<div class="row">
				<table ng-table="vm.loytoKoriTable" template-pagination="pages/templates/table-pagination.html"
					class="table table-striped table-bordered" show-filter="false">
					<tr ng-repeat="loyto in $data">
						<td data-title="vm.getColumnName('Listing_number', 'ark')"
							sortable="'properties.luettelointinumero'" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">
							{{loyto.properties.luettelointinumero}}
						</td>
						<td data-title="vm.getColumnName('Unit_identifier', 'unit')" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">
							{{loyto.properties.yksikko.yksikkotunnus}}
						</td>
						<td data-title="vm.getColumnName('Type', 'common')" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">{{loyto.properties.loytotyyppi | namei18n}}</td>
						<td data-title="vm.getColumnName('Pcs', 'ark')" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">{{loyto.properties.kappalemaara}}</td>
						<td data-title="vm.getColumnName('Weight', 'ark')" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">{{loyto.properties.paino}} {{loyto.properties.painoyksikko}}</td>
                        <td data-title="vm.getColumnName('Discovery_status', 'ark')" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">{{loyto.properties.loydon_tila | namei18n}} <span ng-show="loyto.properties.oikeudet.muokkaus === false" class="fa fa-exclamation pull-right"  aria-hidden="true" data-i18n-attr="{title: 'common.No_modify_permission'}"></td>
                        <td data-title="vm.getColumnName('Description', 'common')" ng-click="vm.avaaLoyto(loyto)" style="cursor: pointer">{{loyto.properties.kuvaus}}</td>
						<td data-title="vm.getColumnName('Actions', 'common')" style="width:10%" ng-if="vm.edit">
	                        <button type="button" class="btn btn-sm btn-danger"
	                                data-i18n-attr="{title: 'common.Delete'}" ng-show="!vm.poistettuRivi(loyto)" ng-click="vm.poistaRivi(loyto, $index)">
	                                <span class="fa fa-remove" aria-hidden="true"></span>
	                        </button>
							<span i18n="common.Removing_from_cart" ng-show="vm.poistettuRivi(loyto)" class="koriPoisto"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>