<div class="form-group" ng-show="!haku">
    <label for="laji" class="col-sm-3 control-label">
        <span i18n="ark.Discoveries" ng-show="kokoelmatyyppi === 'loydot' && vm.tutkimus.properties.tutkimuslaji.id !== 6"></span>
        <span i18n="ark.Discoveries_and_samples" ng-show="kokoelmatyyppi === 'loydot' && vm.tutkimus.properties.tutkimuslaji.id === 6"></span>
        <span i18n="common.Reports" ng-show="kokoelmatyyppi === 'raportit'"></span>
        <span i18n="ark.Maps" ng-show="kokoelmatyyppi === 'kartat'"></span>
        <span i18n="ark.Pictures" ng-show="kokoelmatyyppi === 'valokuvat'"></span>
        <span i18n="ark.Samples" ng-show="kokoelmatyyppi === 'naytteet'"></span>
    </label>
    <div class="col-sm-9">
        <select class="form-control"
        	name="laji"
        	ng-model="laji"
        	ng-show="kokoelmatyyppi === 'loydot'"
			ng-change="vm.tarkistaKokoelmatunnus(laji.id, lomake, 'loyto')"
            ng-model-options='{debounce: 500}'
            ng-options="laji.nimi_fi for laji in kokoelmalajit | filter: suodata track by laji.id">
            <option value=""> - Valitse kokoelma- ja arkistotiedot -</option>
        </select>
        <!-- ng-disabled="vm.tutkimus.properties.tutkimuslaji.id === 6" poistettu yläpuolisesta selectistä -->
        <select class="form-control"
        	name="laji"
        	ng-model="laji"
        	ng-show="kokoelmatyyppi === 'naytteet'"
			ng-change="vm.tarkistaKokoelmatunnus(laji.id, lomake, 'nayte')"
            ng-model-options='{debounce: 500}'
            ng-options="laji.nimi_fi for laji in kokoelmalajit | filter: suodata track by laji.id">
            <option value=""> - Valitse kokoelma- ja arkistotiedot -</option>
        </select>
        <select class="form-control"
        	name="laji"
        	ng-model="laji"
        	ng-show="kokoelmatyyppi === 'valokuvat'"
			ng-change="vm.tarkistaKokoelmatunnus(laji.id, lomake, 'valokuva')"
            ng-model-options='{debounce: 500}'
            ng-options="laji.nimi_fi for laji in kokoelmalajit | filter: suodata track by laji.id">
            <option value=""> - Valitse kokoelma- ja arkistotiedot -</option>
        </select>
        <select class="form-control"
        	name="laji"
        	ng-model="laji"
        	ng-change="vm.tarkistaKokoelmatunnus(laji.id, lomake, 'valokuva')"
        	ng-show="kokoelmatyyppi !== 'loydot' && kokoelmatyyppi !== 'naytteet' && kokoelmatyyppi !== 'valokuvat'"
            ng-options="laji.nimi_fi for laji in kokoelmalajit | filter: suodata track by laji.id">
            <option value=""> - Valitse kokoelma- ja arkistotiedot -</option>
        </select>
    </div>
</div>
<!-- Hakusivu -->
<select class="form-control" ng-show="haku"
	name="laji"
    ng-options="laji.id as laji.nimi_fi for laji in kokoelmalajit | filter: suodata track by laji.id"
    ng-model="laji">
</select>