<div class="panel">
	<div class="panel-body">
		<div ng-include="'pages/tabs.html'"></div>
		<div ng-include="'pages/subtabs.html'"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-collapsible panel-default table-responsive">
					<div class="panel-heading" role="tab" data-toggle="collapse" data-target="#hakukentat">
                        <h4 class="panel-title">
                            <span i18n="common.Results"></span>
                            : {{vm.kasittelytTable.total()}}
                            <span i18n="common.Shown"></span>
                            : {{vm.searchResults}} 
                            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
                        </h4>					
					</div>
                    <div class="panel-body form-horizontal panel-collapse collapse in" id="hakukentat" 
                    	ng-include="'ark/kasittelyt/kasittely_hakukentat.html'" 
                    	style="margin-bottom: 1em;">
                   </div>
                   <!-- Taulukko -->
					<table ng-table="vm.kasittelytTable" 
                        template-pagination="pages/templates/table-pagination.html"
						class="table table-striped table-bordered" show-filter="false">
						<tr ng-repeat="kasittely in $data" style="cursor: pointer" ng-click="vm.avaaKasittely(kasittely)">
                            <td data-title="vm.getColumnName('Treatment_identifier', 'ark')" sortable="'properties.kasittelytunnus'" ng-if="vm.colVisibilities.showKasittelytunnusCol">
                                {{kasittely.properties.kasittelytunnus}}
                            </td>
                            <td data-title="vm.getColumnName('Begin', 'ark')" sortable="'properties.alkaa'" ng-if="vm.colVisibilities.showKasittelyAlkaaCol">
                                {{kasittely.properties.alkaa | date:'dd.MM.yyyy'}}
                            </td>
                            <td data-title="vm.getColumnName('End', 'ark')" sortable="'properties.paattyy'" ng-if="vm.colVisibilities.showKasittelyPaattyyCol">
                                {{kasittely.properties.paattyy | date:'dd.MM.yyyy'}}
                            </td>  					
                            <td data-title="vm.getColumnName('Description', 'common')" sortable="'properties.kuvaus'" ng-if="vm.colVisibilities.showKasittelyKuvausCol">
                                {{kasittely.properties.kuvaus}}
                            </td>                                   
						</tr>
					</table>                   					
				</div>
			</div>
		</div>
	</div>
</div>