
    <div class="modal-dialog mip-modal-dialog" mip-dialog tabindex="-1" role="dialog" id="myModalDialog{{vm.modalId}}">
        <div class="modal-content" >
            <div class="modal-header">
                <div ng-include="'pages/templates/modal/modal_header_painikkeet.html'"></div>
                <h4 class="modal-title">
                    <span i18n="ark.Research_area"></span>
                    {{vm.tutkimusalue.properties.nimi}}
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="form"
                    ng-class="{'form-horizontal-tight':!vm.edit}" novalidate>
                    <div class="row">
                        <div class="col-md-6 column-left">
                            <!-- LEFT COLUMN -->
                            <div class="col-md-12" ng-if="!vm.edit" ng-include="'ark/tutkimusalueet/partials/perustiedot_view.html'"></div>
                            <div class="col-md-12" ng-if="vm.edit"  ng-include="'ark/tutkimusalueet/partials/perustiedot_edit.html'"></div>
                            <div class="col-md-12" ng-if="!vm.edit && !vm.irtoTaiTarkastus() && !vm.inventointiTutkimus()" ng-include="'ark/tutkimusalueet/partials/yksikot.html'"></div>
                            <div class="col-md-12" ng-if="!vm.edit && vm.irtoTaiTarkastus()" ng-include="'ark/tutkimusalueet/partials/loydot.html'"></div>
                        </div>
                        <div class="col-md-6 column-right">
                            <!-- RIGHT COLUMN -->
                            <div class="col-md-12" ng-if="vm.showMap" ng-include="'ark/tutkimusalueet/partials/sijainti.html'"></div>
                            <div class="col-md-12" ng-if="!vm.edit && !vm.loydonLisays && vm.irtoTaiTarkastus()" ng-include="'ark/tutkimusalueet/partials/naytteet.html'"></div>
                            <div class="col-md-12" ng-if="!vm.edit" ng-include="'ark/tutkimusalueet/partials/muokkaustiedot_view.html'"></div>
                            <mip-luetteloidut-kuvat ng-show="!vm.create && vm.images.length > 0" vm="vm"></mip-luetteloidut-kuvat>
                        </div>
                        <div class="col-md-12" ng-if="vm.inventointiTutkimus()" ng-include="'ark/tutkimukset/partials/kohteet.html'"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span i18n="common.Actions"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="" ng-click="vm.deleteTutkimusalue(vm.modalNameId)" class="bg-danger"
                               i18n="common.Delete"
                               ng-show="!vm.create" data-ng-if="vm.permissions.poisto"></a>
                        </li>
<!--                         <li role="separator" class="divider" data-ng-if="vm.permissions.poisto && !create"></li>
                        <li ng-class="{ disabled: vm.disableButtons }">
                        	<a href="" ng-click="vm.addFile()"
                               i18n="common.Add_file"
                               ng-show="!vm.create" data-ng-if="vm.permissions.muokkaus"></a>
                        </li>
-->
						<li role="separator" class="divider" data-ng-if="vm.permissions.luonti && !vm.create && !vm.edit && !vm.disableButtons && vm.tutkimus.properties.ark_loyto_kokoelmalaji_id == '2'"></li>
				        <li><a href="" ng-click="vm.addImage(true)"
				                i18n="ark.Add_image_to_list"
				                data-ng-if="vm.permissions.luonti && !vm.create && !vm.edit && !vm.disableButtons && vm.tutkimus.properties.ark_loyto_kokoelmalaji_id == '2'"></a>
				        </li>
                        <li role="separator" class="divider" data-ng-if="vm.permissions.muokkaus && !vm.create"></li>
                         <li><a href="" ng-click="vm.updateLocationFromFile()"
                                i18n="ark.Update_location_from_file"
                                data-ng-if="vm.permissions.luonti && !vm.create && !vm.edit && !vm.disableButtons && vm.tutkimus.properties.tutkimuslaji.id != 5"></a>
                        </li>
                        <li><a href="" ng-click="vm.close()"
                               i18n="common.Close"
                               ng-show="!vm.edit"></a>
                        </li>
                        <li><a href="" ng-click="vm.close()"
                               i18n="common.Cancel"
                               ng-show="vm.create"></a>
                        </li>
                        <li ng-class="{ 'disabled' : vm.disableButtons }"><a href="" ng-click="vm.disableButtons || vm.cancelEdit()"
                               i18n="common.Cancel_edit"
                               ng-show="vm.edit && !vm.create"></a>
                        </li>

                        <li role="separator" class="divider" data-ng-if="vm.permissions.muokkaus"></li>

                        <li ng-class="{ disabled: vm.disableButtons }">
                        	<a href="" ng-click="vm.editMode()"
                               i18n="common.Edit"
                               ng-show="!vm.edit" ng-if="vm.permissions.muokkaus"></a>
                        </li>
                        <li ng-class="{ disabled: form.$invalid || vm.disableButtons }">
                        <a href="" ng-click="(form.$invalid || vm.disableButtons || vm.save())" class="bg-success"
                               i18n="common.Save"
                               ng-show="vm.edit" ng-if="vm.permissions.muokkaus"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="{{vm.mapPopupId}}" class="mapPopup">POPUP</div>
    </div>