<div class="panel panel-default panel-collapsible">
	<div class="panel-heading" data-toggle="collapse" data-target="#lisatiedotPanel{{vm.modalId}}">
		<h4 class="panel-title">
			<span i18n="common.Additional_information"></span>
			<span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
		</h4>
	</div>
	<div id="lisatiedotPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
		<!-- Lisatiedot muokkaus -->
		<div class="panel-body" ng-if="vm.edit">
			<div class="form-group">
				<label for="lisatiedot" class="col-sm-3 control-label">
					<span i18n="common.Additional_information"></span>
				</label>
				<div class="col-md-9">
					<textarea rows="3" class="form-control" name="lisatiedot" ng-model="vm.loyto.properties.lisatiedot">
					</textarea>
				</div>
			</div>
		</div>
		<!-- Lisatiedot katselu -->
		<div class="panel-body" ng-if="!vm.edit">
			<div class="form-group">
				<label class="col-sm-4 control-label">
					<span i18n="common.Additional_information"></span>
				</label>
				<div class="col-sm-8">
					<p class="form-control-static mip-multiline">{{vm.loyto.properties.lisatiedot}}</p>
				</div>
			</div>
		</div>
		<!-- Sisäiset lisätiedot muokkaus -->
		<div class="panel-body" ng-if="vm.edit && vm.rooli != 'katselija'">
			<div class="form-group">
				<label for="lisatiedot" class="col-sm-3 control-label">
					<span i18n="common.Internal_additional_info"></span>
				</label>
				<div class="col-md-9">
					<textarea rows="3" class="form-control" name="lisatiedot" ng-model="vm.loyto.properties.sisaiset_lisatiedot">
					</textarea>
				</div>
			</div>
		</div>
		<!-- Sisäiset lisätiedot katselu -->
		<div class="panel-body" ng-if="!vm.edit && vm.rooli != 'katselija'">
			<div class="form-group">
				<label class="col-sm-4 control-label">
					<span i18n="common.Internal_additional_info"></span>
				</label>
				<div class="col-sm-8">
					<p class="form-control-static mip-multiline">{{vm.loyto.properties.sisaiset_lisatiedot}}</p>
				</div>
			</div>
		</div>
	</div>
</div>