
    <div class="modal-dialog mip-modal-dialog" mip-dialog tabindex="-1" role="dialog" id="myModalDialog{{vm.modalId}}">
        <div class="modal-content">
            <div class="modal-header">
                <div ng-include="'pages/templates/modal/modal_header_painikkeet.html'"></div>
                <h4 class="modal-title">
					<span i18n="ark.Discovery"></span> : {{vm.loyto.properties.luettelointinumero}}
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="form"
                    ng-class="{'form-horizontal-tight':!vm.edit}" novalidate>
                    <div class="row">
                        <div class="col-md-6 column-left">
                            <!-- LEFT COLUMN -->
                            <div class="col-md-12" ng-include="'ark/loydot/partials/loydon_tiedot.html'"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/kuvaus_luokittelu.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/asiasanat.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/ajoitus.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/loytoyhteys.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/tutkimukset_lahteet.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/lisatiedot.html'" ng-show="!vm.loydonLisays"></div>
                        </div>
                        <div class="col-md-6 column-right">
                            <!-- RIGHT COLUMN -->
                            <div class="col-md-12" ng-include="'ark/loydot/partials/tila.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/tunnistekuva.html'" ng-show="!vm.loydonLisays && vm.tunnistekuva"></div>
                            <mip-luetteloidut-kuvat ng-show="!vm.loydonLisays && vm.images.length > 0" vm="vm"></mip-luetteloidut-kuvat>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/muut_kuvat.html'" ng-show="!vm.loydonLisays && vm.otherImages.length > 0"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/tiedostot_view.html'" ng-show="!vm.loydonlisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/kartat.html'" ng-show="!vm.loydonLisays"></div>
                            <div class="col-md-12" ng-include="'ark/loydot/partials/loydon_tilat_tapahtumat.html'" ng-show="!vm.loydonLisays"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left" mip-entiteettiselain etype="'loyto'" eid="vm.loyto.properties.id" close="vm.close()" ng-show="!vm.edit && !vm.disableButtons"></div>
                <div class="mip-footer-btn-group">
					<button
						type="button"
						class="btn btn-small mip-transparent"
						data-placement="top"
						bs-popover
                        data-template-url="ark/loydot/partials/popover-migraatiodata.html"
                        ng-show="vm.loyto.properties.migraatiodata">
						<span class="fa fa-archive" aria-hidden="true"></span>
    				</button>
					<button type="button"
					    class="btn btn-default"
					    ng-click="vm.avaaKonservointi()"
                        ng-if="vm.konservointi_oikeus && !vm.edit && !vm.disableButtons">
					    <span i18n="ark.Conservation"></span>
					</button>
					<button type="button"
					    class="btn btn-default"
					    ng-if="vm.aktivoiLisaaPainike()"
					    ng-click="vm.uusiLoytoYksikolleJaMateriaalille()"
                        ng-if="vm.permissions.luonti">
					    <span i18n="unit.Add_discovery" data-i18n-attr="{title: 'ark.Same_unit_and_material_code'}"></span> ({{vm.yksikko.yksikkotunnus}} | {{vm.loyto.properties.materiaalikoodi.koodi}})
					</button>
					<button type="button"
					    class="btn btn-default"
					    ng-if="vm.aktivoiLisaaPainike()"
					    ng-click="vm.uusiLoytoYksikolle()"
                        ng-if="vm.permissions.luonti">
					    <span i18n="unit.Add_discovery" data-i18n-attr="{title: 'ark.Same_unit'}" ></span> ({{vm.yksikko.yksikkotunnus}})
					</button>
					<button type="button"
						class="btn btn-default"
					    ng-class="{ disabled: form.$invalid || vm.disableButtons}"
					    ng-if="vm.permissions.muokkaus && !vm.edit"
					    ng-click="(form.$invalid || vm.disableButtons || vm.editMode())">
					    <span i18n="common.Edit"></span>
					</button>
					<button type="button"
						class="btn btn-success"
					    ng-class="{ disabled: form.$invalid || vm.disableButtons}"
					    ng-if="vm.permissions.muokkaus && vm.edit"
					    ng-click="(form.$invalid || vm.disableButtons || vm.save())">
					    <span i18n="common.Save"></span>
					</button>
	                <div class="dropup">
	                    <button class="btn btn-default dropdown-toggle" ng-class="{ 'disabled' : vm.disableButtons }" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                        <span i18n="common.Actions"></span> <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu dropdown-menu-right">
	                        <li><a href="" ng-click="vm.vaihdaLuettelointinumero()"
	                               i18n="ark.Change_list_number" data-ng-if="vm.permissions.muokkaus && !vm.edit && !vm.disableButtons && vm.tutkimus.ark_loyto_kokoelmalaji_id == '2'"></a>
	                        </li>
	                        <li role="separator" class="divider" data-ng-if="vm.permissions.muokkaus && !vm.edit && !vm.disableButtons && vm.tutkimus.ark_loyto_kokoelmalaji_id == '2'"></li>
	                        <li><a href="" ng-click="vm.avaaRontgenkuva()"
                                   i18n="ark.Add_XRay_image" data-ng-if="vm.permissions.muokkaus && !vm.edit && !vm.disableButtons"></a>
                            </li>
                            <li><a href="" ng-click="vm.addImage(false)"
                                   i18n="common.Add_image" data-ng-if="vm.permissions.muokkaus && !vm.edit"></a>
                            </li>
                            <li><a href="" ng-click="vm.lisaaTiedosto()"
                                   i18n="common.Add_file" ng-show="!vm.create" data-ng-if="vm.permissions.muokkaus"></a>
                            </li>
	                        <li><a href="" ng-click="vm.addImage(true)"
	                               i18n="ark.Add_image_to_list" data-ng-if="vm.permissions.muokkaus && !vm.edit && !vm.disableButtons && vm.tutkimus.ark_loyto_kokoelmalaji_id == '2'"></a>
	                        </li>
	                        <li><a href="" ng-click="vm.addKartta()"
                                   i18n="ark.Add_map_to_list" data-ng-if="vm.permissions.muokkaus && !vm.edit && !vm.disableButtons && vm.tutkimus.ark_loyto_kokoelmalaji_id == '2'"></a>
                            </li>
	                         <li role="separator" class="divider"></li>
	                        <li><a href="" ng-click="vm.close()"
	                               i18n="common.Close"
	                               ng-show="!vm.edit"></a>
	                        </li>
	                        <li ng-class="{ 'disabled' : vm.disableButtons }"><a href="" ng-click="vm.disableButtons || vm.cancelEdit()"
	                               i18n="common.Cancel_edit"
	                               ng-show="vm.edit && !vm.create"></a>
	                        </li>
	                    </ul>
	                </div>
				</div>
            </div>
        </div>
        <div id="{{vm.mapPopupId}}" class="mapPopup">POPUP</div>
    </div>