<div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#tutkimuksetPanel{{vm.modalId}}">
        <h4 class="panel-title">
            <span i18n="ark.Discoveries_sources"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="tutkimuksetPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
	    <div class="panel-body" ng-if="vm.edit || vm.create">
	        <div class="col-sm-12">
	            <textarea rows="3" class="form-control" name="tutkimukset_lahteet"
	                ng-model="vm.loyto.properties.tutkimukset_lahteet">
	            </textarea> 
	        </div>              
	    </div>
	    <div class="panel-body" ng-if="!vm.edit">
	        <div class="col-sm-12">
	            <p class="form-control-static mip-multiline" ng-bind-html="vm.loyto.properties.tutkimukset_lahteet | linky:'_blank'"></p>
	        </div>              
	    </div> 
    </div>    
</div>