<div class="modal-dialog mip-modal-dialog" mip-dialog tabindex="-1" role="dialog" id="myModalDialog{{vm.modalId}}">
    <div class="modal-content">
        <div class="modal-header">
            <div ng-include="'pages/templates/modal/modal_header_painikkeet.html'"></div>
            <h4 class="modal-title">
                <span i18n="ark.Conservation"></span>
                <span> : {{vm.loyto.properties.luettelointinumero}} {{vm.nayte.properties.luettelointinumero}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="form" ng-class="{'form-horizontal-tight':!vm.edit}" novalidate>
                <div class="row">
                    <div class="col-md-6 column-left">
                        <!-- LEFT COLUMN -->
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/perustiedot.html'"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/loyto_kuvaus_luokittelu.html'"
                            ng-if="vm.loyto"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/nayte_kuvaustiedot.html'"
                            ng-if="vm.nayte"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/sailytysolosuhteet.html'"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/loyto_kuntomaaritys.html'"
                            ng-if="vm.loyto"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/nayte_kuntomaaritys.html'"
                            ng-if="vm.nayte"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/lisatiedot.html'"></div>
                    </div>
                    <div class="col-md-6 column-right">
                        <!-- RIGHT COLUMN -->
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/loyto_tila.html'"
                            ng-if="vm.loyto"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/nayte_tila.html'"
                            ng-if="vm.nayte"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/toimenpiteet.html'"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/kuvat.html'"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/liitteet.html'" ng-hide="true"></div>
                        <div class="col-md-12" ng-include="'ark/konservointi/partials/kuntoraportit.html'" ng-if="vm.loyto"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <!-- <div class="pull-left" mip-entiteettiselain etype="'nayte'" eid="vm.nayte.properties.id" close="vm.close()" ng-show="!vm.edit && !vm.disableButtons"></div> -->
            <div class="mip-footer-btn-group">
                <button type="button" class="btn btn-default" ng-class="{ disabled: form.$invalid || vm.disableButtons}"
                    ng-if="vm.permissions.muokkaus && !vm.edit"
                    ng-click="(form.$invalid || vm.disableButtons || vm.editMode())">
                    <span i18n="common.Edit"></span>
                </button>
                <button type="button" class="btn btn-success" ng-class="{ disabled: form.$invalid || vm.disableButtons}"
                    ng-if="vm.permissions.muokkaus && vm.edit" ng-click="(vm.disableButtons || vm.save())">
                    <span i18n="common.Save"></span>
                </button>
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" ng-class="{ 'disabled' : vm.disableButtons }"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span i18n="common.Actions"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-submenu pull-left">
                            <a href="" style="padding-right:65px;" i18n="common.Create_report" ng-show="!vm.create && !vm.edit && vm.loyto"></a>
                            <ul class="dropdown-menu submenuHeightFix1Elements">
                                <li><a ng-click="vm.konservointiraportti()"><span i18n="ark.Conservation_report"></span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="" ng-click="vm.addImage()" i18n="common.Add_image"
                                data-ng-if="vm.permissions.muokkaus && !vm.edit && vm.loyto"></a>
                        </li>
                        <li>
                            <a href="" ng-click="vm.lisaaToimenpide()" i18n="ark.Add_conservation_operation"
                                data-ng-if="vm.permissions.muokkaus && !vm.edit"></a>
                        </li>
                        <li ng-class="{ 'disabled' : vm.disableButtons }"><a href=""
                                ng-click="vm.disableButtons || vm.peruutaMuokkaus()" i18n="common.Cancel_edit"
                                ng-show="vm.edit && !vm.create"></a>
                        </li>
                        <li role="separator" class="divider" data-ng-if="vm.permissions.muokkaus && !vm.edit"></li>
                        <li>
                            <a href="" ng-click="vm.close()" i18n="common.Close" ng-show="!vm.edit"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="{{vm.mapPopupId}}" class="mapPopup">POPUP</div>
</div>