<div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#kuvatPanel{{vm.modalId}}">
        <h4 class="panel-title">
            <span i18n="common.Images"></span>
            <lukumaara ng-show="vm.muut_kuvat_kpl_maara" arvo="vm.muut_kuvat_kpl_maara"></lukumaara>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="kuvatPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
	    <div class="row">
            <div class="col-md-12">
                <ul class="list-group" data-ng-model="vm.images">
                    <li class="list-group-item col-md-3 mip-image-item" data-ng-repeat="image in vm.otherImages">
                        <div class="col-md-12">
                            <img ng-if="image.properties.url_small" class="img-responsive mip-image-thumbnail"
                                ng-src="{{image.properties.url_tiny}}" alt="{{image.properties.otsikko}}"
                                ng-click="vm.openImage(image, vm.otherImages)" >
                            <img
                                ng-if="image.properties.url_small==''"  class="img-responsive mip-image-thumbnail"
                                ng-src="/resources/images/kuva_placeholder.png" alt="..."
                                ng-click="vm.openImage(image, vm.otherImages)">
                        </div>
                        <div class="col-md-12 text-center mip-image-caption">
                            <span title="{{image.properties.otsikko}}">{{image.properties.otsikko}} </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>