<div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#kuvaustiedotPanel{{vm.modalId}}">
        <h4 class="panel-title">
            <span i18n="ark.Description_classification"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="kuvaustiedotPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
		<div class="panel-body" ng-if="vm.edit">
            <div class="form-group">
	            <label for="paino_ennen" class="col-sm-3 control-label">
	                <span i18n="ark.Weight_before"></span> 
	            </label>
	            <div class="col-sm-3">
	                <input type="number" class="form-control" name="paino_ennen"
	                    ng-model="vm.nayte.properties.paino_ennen"
	                    spellcheck="false" autocomplete="off">
	            </div>
				<div class="col-sm-3">
					<select class="form-control" ng-model="vm.nayte.properties.paino_ennen_yksikko"
						style="padding-left: 0px"
						ng-options="option.value as option.label for option in vm.painoyksikot"
						name="paino_ennen_yksikko">
					</select>			        
				</div>     
	        </div>
           <div class="form-group">
	            <label for="paino_jalkeen" class="col-sm-3 control-label">
	                <span i18n="ark.Weight_after"></span> 
	            </label>
	            <div class="col-sm-3">
	                <input type="number" class="form-control" name="paino_jalkeen"
	                    ng-model="vm.nayte.properties.paino_jalkeen"
	                    spellcheck="false" autocomplete="off">
	            </div>
				<div class="col-sm-3">
					<select class="form-control" ng-model="vm.nayte.properties.paino_jalkeen_yksikko"
						style="padding-left: 0px"
						ng-options="option.value as option.label for option in vm.painoyksikot"
						name="paino_jalkeen_yksikko">
					</select>			        
				</div>     
	        </div>	        	        	        	        		
		</div>  	
    	<!-- Katselutila -->
	    <div class="panel-body" ng-if="!vm.edit">
	        <div class="form-group">
	            <label class="col-sm-4 control-label">
	                <span i18n="sample.Sample_type"></span>
	            </label>
	            <div class="col-sm-8">
	                <p class="form-control-static">
	                	{{vm.nayte.properties.naytetyyppi | namei18n}}
	                </p>
	            </div>    
	        </div>     
	        <div class="form-group">
	            <label class="col-sm-4 control-label">
	                <span i18n="common.Description"></span>
	            </label>
	            <div class="col-sm-8">
	                <p class="form-control-static">
	                	{{vm.nayte.properties.kuvaus}}
	                </p>	                
	            </div>    
	        </div>
	        <div class="form-group" ng-if="vm.nayte.properties.paino_ennen">
	            <label class="col-sm-4 control-label">
	            	<span i18n="ark.Weight_before"></span> 
	            </label>
	            <div class="col-sm-8">
	                <p class="form-control-static">{{vm.nayte.properties.paino_ennen}} {{vm.nayte.properties.paino_ennen_yksikko}}</p> 
	            </div>
	        </div>
	        <div class="form-group" ng-if="vm.nayte.properties.paino_jalkeen">
	            <label class="col-sm-4 control-label">
	            	<span i18n="ark.Weight_after"></span> 
	            </label>
	            <div class="col-sm-8">
	                <p class="form-control-static">{{vm.nayte.properties.paino_jalkeen}} {{vm.nayte.properties.paino_jalkeen_yksikko}}</p> 
	            </div>
	        </div>	        
	        <div class="form-group" ng-show="vm.nayte.properties.luunayte_maara && vm.nayte.properties.naytekoodi.id == 2">
	            <label class="col-sm-4 control-label">
	                <span i18n="sample.Amount"></span> 
	            </label>
	            <div class="col-sm-8">
					<p class="form-control-static">{{vm.nayte.properties.luunayte_maara}}
		               	<span ng-repeat="yksikko in vm.painoyksikot">
		               		<span ng-show="yksikko.id == vm.nayte.properties.luunayte_maara_yksikko">{{yksikko.nimi_fi}}</span>
		               	</span>				
	               	</p>	
	            </div>    
	        </div>
	        <div class="form-group" ng-show="vm.nayte.properties.talteenottotapa && vm.nayte.properties.naytekoodi.id == 2">
	            <label class="col-sm-4 control-label">
	            	<span i18n="sample.Recovery_manner"></span> 
	            </label>
	            <div class="col-sm-8">
	                <p class="form-control-static">{{vm.nayte.properties.talteenottotapa | namei18n}}</p>
	            </div>
	        </div>
	        <div class="form-group" ng-show="vm.nayte.properties.maanayte_maara && vm.nayte.properties.naytekoodi.id == 3">
	            <label class="col-sm-4 control-label">
	                <span i18n="sample.Amount"></span> 
	            </label>
	            <div class="col-sm-8">
					<span class="form-control-static">{{vm.nayte.properties.maanayte_maara}}</span> <span i18n="sample.Liters" ng-show="vm.nayte.properties.maanayte_maara"></span>
	            </div>    
	        </div>	        
	        <div class="form-group" ng-show="vm.nayte.properties.laboratorion_arvio && vm.nayte.properties.naytekoodi.id == 1">
	            <label class="col-sm-4 control-label">
	                <span i18n="sample.Laboratory_rating"></span> 
	            </label>
	            <div class="col-sm-8">
					<p class="form-control-static mip-multiline">{{vm.nayte.properties.laboratorion_arvio}}</p>
	            </div>    
	        </div>
	        <div class="form-group" ng-show="vm.nayte.properties.luokka && vm.nayte.properties.naytetyyppi.id == 2">
	            <label class="col-sm-4 control-label">
	                <span i18n="sample.Class"></span> 
	            </label>
	            <div class="col-sm-8">
	               	<span ng-repeat="luokka in vm.ajoitusluokat">
	               		<span ng-show="luokka.id == vm.nayte.properties.luokka">{{luokka.nimi_fi}}</span>
	               	</span>					
	            </div>    
	        </div>
	        <div class="form-group" ng-show="vm.nayte.properties.rf_naytteen_koko && vm.nayte.properties.naytekoodi.id == 4">
	            <label class="col-sm-4 control-label">
	                <span i18n="sample.Sample_size"></span> 
	            </label>
	            <div class="col-sm-8">
					<p class="form-control-static mip-multiline">{{vm.nayte.properties.rf_naytteen_koko}}</p>
	            </div>    
	        </div>
	    </div>
    </div>
</div>