<div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#sailytysPanel{{vm.modalId}}">
        <h4 class="panel-title">
            <span i18n="ark.Conservation_circumstances"></span>
            <span class="pull-right glyphicon clickable_space collapsed-indicator"></span>
        </h4>
    </div>
    <div id="sailytysPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in">
	    <div class="panel-body" ng-if="vm.edit && vm.loyto">
	        <div class="col-sm-12">
	            <textarea rows="3" class="form-control" name="lisatiedot"
	                ng-model="vm.loyto.properties.sailytysolosuhteet">
	            </textarea> 
	        </div>              
	    </div>
	    <div class="panel-body" ng-if="!vm.edit && vm.loyto">
	        <div class="col-sm-12">
	            <p class="form-control-static mip-multiline">{{vm.loyto.properties.sailytysolosuhteet}}</p>
	        </div>              
	    </div>
	    <div class="panel-body" ng-if="vm.edit && vm.nayte">
	        <div class="col-sm-12">
	            <textarea rows="3" class="form-control" name="lisatiedot"
	                ng-model="vm.nayte.properties.sailytysolosuhteet">
	            </textarea> 
	        </div>              
	    </div>
	    <div class="panel-body" ng-if="!vm.edit && vm.nayte">
	        <div class="col-sm-12">
	            <p class="form-control-static mip-multiline">{{vm.nayte.properties.sailytysolosuhteet}}</p>
	        </div>              
	    </div>	    
    </div>    
</div>